.cropit-image-preview {
        background-color: #f8f8f8;
        background-size: cover;
        border: 1px solid #ccc;
        border-radius: 3px;
        /*margin-top: 7px;*/
        width: 200px;
        height: 200px;
        cursor: move;
		display: none;
      }
	  .cropit-image-preview-container{
		  display: none;
	  }
	  
	  .cropit-image-zoom-input{
		  display: none;
		  margin-top: 10px;
		  margin-bottom: 15px;
	  }
      .cropit-image-background {
        opacity: .2;
        cursor: auto;
      }

      .image-size-label {
        margin-top: 10px;
      }
	  
	  .image-editor{
		  text-align: center;
	  }

      