#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {
display:none;
}
.nbs-flexisel-container {
    position:relative;
    max-width:100%;
}
.nbs-flexisel-ul {
    position:relative;
    width:9999px;
    margin:0px;
    padding:0px;
    list-style-type:none;   
    text-align:center;
}

.nbs-flexisel-inner {
    overflow:hidden;
    float:left;
    width:100%;
}
.nbs-flexisel-item {
    float:left;
    margin:0px;
    padding:0px;
    cursor:pointer;
    position:relative;
    line-height:0px;
	text-align:left;
}
.nbs-flexisel-item img {
    width: 100%;
    cursor: pointer;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width:325px;
    max-height:225px;
    border-radius:8px;
}

/*** Navigation ***/

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
    width: 50px;
    height: 75px; 
    position: absolute;
    cursor: pointer;
    z-index: 100;
}

.nbs-flexisel-nav-left {
    left: -55px;
	height:75spx;
	width:50px;
    background: url(../images/scroller_left.png) no-repeat;
}

.nbs-flexisel-nav-right {
    right: -55px;
	height:75px;
	width:50px;
    background: url(../images/scroller_right.png) no-repeat;
}
#flexiselDemo3 li p{
	color: #9f9f9f;
	height: 20px;
	margin-top: 10px;
	width: 200px;
	font-family: 'open_sanslight';
	font-size:16px;
}
