@charset "utf-8";
* {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
html, body {
	padding: 0px;
	margin: 0px;
	background-color: #933356;
	background-image: url(../images/bg_tra.png);
	background-repeat: no-repeat;
	background-position: center top;
	font-family: 'open_sansregular';
	height: 100%;
	background-size: 100%;
}
select::-ms-expand {
 display: none;
}
select, textarea, input {
	outline: none;
	border: none;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
.mrgn_t5 {
	margin-top: 5px;
}
.mrgn_t10 {
	margin-top: 10px;
}
.mrgn_t20 {
	margin-top: 20px;
}
.mrgn_t50 {
	margin-top: 50px;
}
.mrgn_t100 {
	margin-top: 100px;
}
.comman_width {
	width: 100%;
}
main {
	/*float: left;*/
	width: 100%;
	/*min-height: 130%;
	position: relative;*/
	
	display: table;
	height: 100%;
	table-layout:fixed;
}
texrarea, select, input {
	outline: none;
	border: 0px;
}
a {
	text-decoration: none;
}
a img {
	outline: none;
	border: 0px;
}
.clear_left {
	clear: left;
}
.clear_right {
	clear: right;
}
.right {
	float: right;
}
.left {
	float: left;
}
header {
	width: 100%;
	float: left;
	background-color: #8a3345;
	/*padding-top: 35px;
	padding-bottom: 35px;*/
	
	padding-top: 5px;
	padding-bottom: 5px;
}
.c_header_wrap {
	width: 80%;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.c_wrap {
	width: 80%;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.l_header {
	width: 100%;
	float: left;
}
.c_first_box {
	float: left;
	margin-top: 25px;
	width: 25%;
}
.c_logo {
	float: left;
	width: 50%;
	text-align: center;
	cursor: pointer;
}
.c_profile_box {
	float: right;
	margin-top: 15px;/*width: 25%;*/
}
.c_profile_box .user_name {
	color: #fff;
	float: left;
	font-size: 14px;
	margin-right: 14px;
	margin-top:10px;
	width: auto;
}

.c_profile_box .user_name .signin {
	color: #fff;
	float: left;
	font-size: 14px;
	margin-right: 14px;
	margin-top:18px;
	width: auto;
}
.c_profile_box .user_pro {
	width: 48px;
	height: 48px;
	border-radius: 100%;
	float: right;
}
.round_img {
	border-radius: 100%;
}
.round_img_comment {
	border-radius: 100%;
	/*height: 100px;*/
	max-width: 80px;
	height:90px;
	width:93px;
}
.round_img_logo {
	border-radius: 100%;
	height: 50px;
}
.round_img_light_bdr {
	border-radius: 100%;
	border: 5px solid #f7e5b9;
	width: 110px;
	height: 110px;
	/*width: 130px;
	height: 115px;*/
}
.c_play_btn {
	width: 40px;
	float: left;
}
.c_lan_dd {
	float: left;
	margin-left: 30px;
	margin-top: 4px;
}
/**/
.dropdown {
	/*width: 60px;*/
	width: auto;
}
dt {
	/*width: 45px;*/
	width: auto;
	font-size: 12px;
}
.dropdown dd {
	position: relative;
}
.dropdown a, .dropdown a:visited {
	color: #FFF;
	text-decoration: none;
	outline: none;
}
.dropdown a:hover {
}
.dropdown dt a:hover {
	color: #FFFFFF;
}
.dropdown dt a {
	display: block;
	background-attachment: scroll;
	background-color: #8a3345;
	background-image: url(../images/dd_icon.png);
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 10px;
}
.dropdown dt a span {
	cursor: pointer;
	display: block;
	padding: 5px;
}
.dropdown dd ul {
	background: none repeat scroll 0 0 #8a3345;
	color: #c5c0b0;
	display: none;
	left: -19px;
	list-style: outside none none;
	position: absolute;
	text-align: center;
	top: 2px;
	/*width: 72px;
	font-size: 12px;*/
	width: 100px;
	font-size: 14px;
	z-index: 101;
}
.dropdown span.value {
	display: none;
}
.dropdown dd ul li a {
	display: block;
	padding-top: 2px;
}
.dropdown dd ul li a:hover {
	width: 98%;
	padding: 1%;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFF;
	 background-color: #fff;
    border-top: 1px solid #fff;
    color: #8a3345;
    font-weight: bold;
}
/***/
.l_filter_part {
	width: 100%;
	float: left;
}
.l_filter_part .c_serach_fill {
	width: 60%;
	float: left;
	background-image: url(../images/filter_bg.png);
	background-repeat: repeat;
	background-position: left top;
	height: 58px;
	padding: 1%;
	
	/*padding: 5px 1%;*/
}
.l_middle {
	width: 100%;
	float: left;
	/*margin-bottom: 100px;*/
}
.c_inner_fltr_wrap {
	width: 85%;
	float: right;
}
.c_cont_fill {
	float: left;
	position: relative;
}
.c_add_btn_main {
	background-image: url("../images/bt_tra_bg.png");
	background-position: left top;
	background-repeat: repeat;
	float: right;
	width: 36%;
	height: 58px;
	padding: 1%;
	
	/*padding: 5px 1%;*/
}
.u_cont_search {
	border-radius: 4px;
	color: #a3a3a3;
	float: left;
	font-family: "open_sanslight";
	font-size: 18px;
	padding: 15px 100px 15px 40px;
	position: relative;
	/*width: 270px;*/
	width:355px;
	z-index: 100;
}
.search_icon {
	position: absolute;
	left: 10px;
	top: 15px;
	z-index: 101;
}
.u_find_btn {
	background-color: #8a3345;
	border-radius: 4px;
	color: #ffffff;
	font-family: 'open_sansregular';
	font-size: 18px;
	padding: 2% 6%;
	position: absolute;
	right: 6px;
	top: 6px;
	cursor: pointer;
	z-index: 100;
}
.u_add_btn {
	background-color: #feaf23;
	background-image: url("../images/add_icon.png");
	/*background-position: left 10px center;*/
	background-position: left 15% center;
	background-repeat: no-repeat;
	border: 5px solid #fff;
	border-radius: 4px;
	color: #fff;
	font-family: "open_sansregular";
	font-size: 18px;
	/*padding: 2% 2% 2% 8%;*/
	padding: 2% 6% 2% 12%;
	margin-right: 25%;
	float:right;
}
.u_add_btn:hover {
	cursor: pointer;
}
.l_map_area {
	width: 100%;
	float: left;
	position:relative;
	/*margin-top: 60px;*/
	/*height: 690px;*/
	z-index: 100;
	margin-top: 0px;
}
.c_map_area {
	width: 80%;
	float: left;
	/*height: 690px;*/
	position: relative;
	margin: 1% 10%;
	background-image: url(../images/map.png);
	background-repeat: no-repeat;
	background-position: center top;
	height:75vh;
	background-size:100%;
}
.c_map_area > img {
	width: 100%;
}
.c_map_area_search {
	width: 100%;
	float: left;
	height: 690px;
	position: relative;
}
.c_map_area_search > img {
	width: 100%;
}

footer {
	/*float: left;*/
	
	/*position: absolute;
	bottom: 0px;
	left: 0px;*/
	width: 100%;
	font-family: 'open_sansregular';
	font-size: 13px;
	color: #000;
	background-image: url(../images/f_tra_bg.png);
	background-repeat: repeat;
	background-position: left top;
	
	display: table-row;
	height: 1px;
}
.l_footer {
	width: 100%;
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
	position:relative;
}
.c_copy {
	width: 19%;
	float: left;
	margin-top: 15px;
}
.c_copy p {
	font-size: 14px;
	font-family: 'open_sansregular';
	color: #FFF;
}
.cf_link {
	width: 60%;
	float: left;
	margin-top: 15px;
}
.cf_link a {
	font-size: 14px;
	font-family: 'open_sansregular';
	color: #FFF;
	margin-right: 10px;
}
.cf_link a:hover {
	color: #621c34;
	/* First we need to help some browsers along for this to work.
     Just because a vendor prefix is there, doesn't mean it will
     work in a browser made by that vendor either, it's just for
     future-proofing purposes I guess. */
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	/* ...and now for the proper property */
	transition: .5s;
}
.l_soc_icon {
	float: right;
}
.c_soc_main {
	width: 100%;
	float: left;
}
.c_soc_main a {
	width: auto;
	float: left;
	margin-left: 5px;
	-webkit-transition: -webkit-transform .4s ease-in-out;
	-ms-transition: -ms-transform .4s ease-in-out;
	transition: transform .4s ease-in-out;
}
.c_soc_main a:hover {
	transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
}
/**/
.c_map_detail_loacation {
	width: 100%;
	position: relative;
	left: 0px;
	float:left;
}
.c_loc1{
	position: absolute;
	left: 15%;
	background-image: url(../images/loc_1.png);
	background-repeat: no-repeat;
	background-position: left top;
	background-size:100%;
	width: 100px;
	height:190px;
	margin-top: 2%;
	cursor: pointer;
}
.c_loc2{
	background-image: url("../images/loc_2.png");
	background-position: left top;
	background-repeat: no-repeat;
	background-size:100%;
	height: 210px;
	left: 45%;
	position: absolute;
	margin-top:0%;
	width: 100px;
	cursor: pointer;
}
.c_loc3{
	background-image: url("../images/loc_3.png");
	background-position: left top;
	background-repeat: no-repeat;
	background-size:100%;
	height: 135px;
	left: 67%;
	position: absolute;
	margin-top: 6%;
	width: 80px;
	cursor: pointer;
}
.c_loc4{
	background-image: url("../images/loc_4.png");
	background-position: left top;
	background-repeat: no-repeat;
	background-size:100%;
	height: 155px;
	left: 25%;
	position: absolute;
	margin-top: 21%;
	width: 90px;
	cursor: pointer;
}
.c_loc5{
	background-image: url("../images/loc_5.png");
	background-position: left top;
	background-repeat: no-repeat;
	background-size:100%;
	height: 135px;
	left: 46%;
	position: absolute;
	margin-top: 15%;
	width: 80px;
	cursor: pointer;
}
.c_loc6{
	background-image: url("../images/loc_6.png");
	background-position: left top;
	background-repeat: no-repeat;
	background-size:100%;
	height: 105px;
	left: 81%;
	position: absolute;
	margin-top: 28%;
	width: 70px;
	cursor: pointer;
}
.c_digit_main{
	width:100%;
	float:left;	
}
.c_digit{
    color: #fff;
    font-family: 'pf_din_text_comp_proregular';
    font-size: 40px;
    line-height: 25px;
    position: absolute;
    text-align: center;
    top: 22px;
	width:100%;
}
.c_digit2{
	color: #fff;
    font-family: 'pf_din_text_comp_proregular';
    font-size: 40px;
    line-height: 25px;
    position: absolute;
    text-align: center;
    top: 18px;
	width:100%;
}
.c_digit3{
	color: #fff;
    font-family: 'pf_din_text_comp_proregular';
	font-size: 40px;
	line-height: 25px;
    position: absolute;
    text-align: center;
    top: 5px;
	width:100%;
}
.c_digit4{
	color: #fff;
	font-family: 'pf_din_text_comp_proregular';
	font-size: 40px;
	line-height: 25px;
	position: absolute;
	text-align: center;
	top: 13px;
	width: 100%;
}
.c_digit5{
	color: #fff;
    font-family: 'pf_din_text_comp_proregular';
	font-size: 40px;
	line-height: 25px;
    position: absolute;
    text-align: center;
    top: 5px;
	width:100%;
}
.c_digit6{
	color: #fff;
	font-family: 'pf_din_text_comp_proregular';
	font-size: 40px;
	line-height: 20px;
	position: absolute;
	text-align: center;
	top: 12px;
	width: 100%;
}
.c_loc_txt{
    color: #fff;
    font-family: 'pf_din_text_comp_prolight';
    font-size: 24px;
}
.c_loc_txt3{
    color: #fff;
    font-family: 'pf_din_text_comp_prolight';
    font-size: 20px;
}
.c_loc_txt6{
    color: #fff;
    font-family: 'pf_din_text_comp_prolight';
    font-size: 14px;
}
/**/
.c_map_detail {
	width: 100%;
	position: absolute;
	left: 0px;
	top: 200px;
}

/**/
.c_map_btn {
	width: 100%;
	float: left;
	position: relative;
}
.zoom_in_btn {
	width: 60px;
	position: relative;
	left: 0px;
	top: 50px;
}
.icon_plus {
	width: auto;
	float: left;
	margin-bottom: 5px;
}
.icon_minus {
	width: auto;
	float: left;
}
.l_cntr_cir {
	width: 240px;
	position: absolute;
	right: 70px;
	height: 240px;
	color: #FFF;
}
.c_cont_name {
	position: absolute;
	text-align: center;
	top: 70px;
	width: 210px;
	padding-left: 15px;
	padding-right: 15px;
	font-family: 'pf_din_text_comp_prothin';
	font-size: 24px;
}
.l_cntr_cir h3 {
	position: absolute;
	text-align: center;
	top: 90px;
	width: 210px;
	padding-left: 15px;
	padding-right: 15px;
	font-family: "pf_din_text_comp_prolight";
	/*font-size: 55px;*/
	font-size: 30px;
	text-transform: uppercase;
}
.c_down_arrow {
	position: absolute;
	text-align: center;
	top: 170px;
	width: 210px;
	padding-left: 15px;
	padding-right: 15px;
}
.l_mid_del {
	width: 100%;
	float: left;
}
.l_main_tb {
	width: 100%;
	float: left;
	background-color: #FFF;
	border: 1px solid #cccccc;
	margin-bottom:50px;
	box-sizing:border-box;
}
.l_box_main {
	float: left;
	padding: 5% 5% 7%;
	width: 90%;
}
.l_box_main_main {
	width: 32%;
	float: left;
	margin-right: 0.5%;
	margin-left: 0.5%;
	margin-bottom: 0.5%;
}
.l_box_main_main:hover .l_box_icon{
	/* for display div*/
	display: block;
	/*--------------*/
	-webkit-box-shadow: 3px 4px 2px 0 rgba(93, 93, 93, 0.1);
	-moz-box-shadow: 3px 4px 2px 0 rgba(93, 93, 93, 0.1);
	box-shadow: 3px 4px 2px 0 rgba(93, 93, 93, 0.1);
	-webkit-transition: all 1s ease 0.5s;
	-moz-transition: all 0.5s ease 0.5s;
	-ms-transition: all 0.5s ease 0.5s;
	-o-transition: all 0.5s ease 0.5s;
	transition: all 0.5s ease 0.5s;
}
.l_box_main_main:hover .flexiselDemo2DivArrow{
	/* for display div*/
	display: block;
	/*--------------*/
	-webkit-box-shadow: 3px 4px 2px 0 rgba(93, 93, 93, 0.1);
	-moz-box-shadow: 3px 4px 2px 0 rgba(93, 93, 93, 0.1);
	box-shadow: 3px 4px 2px 0 rgba(93, 93, 93, 0.1);
	-webkit-transition: all 1s ease 0.5s;
	-moz-transition: all 0.5s ease 0.5s;
	-ms-transition: all 0.5s ease 0.5s;
	-o-transition: all 0.5s ease 0.5s;
	transition: all 0.5s ease 0.5s;
}
.l_box_main_main:hover .flexiselDemo2Div{
	/* for display div*/
	display: block;
	/*--------------*/
	-webkit-box-shadow: 3px 4px 2px 0 rgba(93, 93, 93, 0.1);
	-moz-box-shadow: 3px 4px 2px 0 rgba(93, 93, 93, 0.1);
	box-shadow: 3px 4px 2px 0 rgba(93, 93, 93, 0.1);
	-webkit-transition: all 1s ease 0.5s;
	-moz-transition: all 0.5s ease 0.5s;
	-ms-transition: all 0.5s ease 0.5s;
	-o-transition: all 0.5s ease 0.5s;
	transition: all 0.5s ease 0.5s;
}
.l_box_main_main:hover .slider_img{
	/* for display div*/
	display: none;
	/*--------------*/
	-webkit-box-shadow: 3px 4px 2px 0 rgba(93, 93, 93, 0.1);
	-moz-box-shadow: 3px 4px 2px 0 rgba(93, 93, 93, 0.1);
	box-shadow: 3px 4px 2px 0 rgba(93, 93, 93, 0.1);
	-webkit-transition: all 1s ease 0.5s;
	-moz-transition: all 0.5s ease 0.5s;
	-ms-transition: all 0.5s ease 0.5s;
	-o-transition: all 0.5s ease 0.5s;
	transition: all 0.5s ease 0.5s;
}
.l_box {
	float: left;
	height: 415px;
	margin-left: 0.5%;
	margin-right: 0.5%;
	max-height: 415px;
	overflow: auto;
	width: 99%;
	border: 1px solid #e6e6e6;
}
.l_box:hover {
	cursor: pointer;
	border: 1px solid #a53f5c;
	-webkit-transition: all 1s ease 0.5s;
	-moz-transition: all 0.5s ease 0.5s;
	-ms-transition: all 0.5s ease 0.5s;
	-o-transition: all 0.5s ease 0.5s;
	transition: all 0.5s ease 0.5s;
}
.c_box_detail {
	width: 90%;
	float: left;
	padding: 5%;
}
.c_box_detail .c_box_ttl {
	font-size: 16px;
	color: #000;
}
.c_box_detail .c_box_ttl span {
	font-size: 16px;
	color: #8a3345;
	font-family: 'open_sanssemibold';
}
.c_inner_main {
	float: left;
	padding-right: 5px;
	width: 80%;
}
.c_box_kids {
	float: right;
	-webkit-transition: -webkit-transform .4s ease-in-out;
	-ms-transition: -ms-transform .4s ease-in-out;
	transition: transform .4s ease-in-out;
}
.c_box_kids:hover {
	transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}
.c_box_slider_main {
	width: 100%;
	float: left;
	position: relative;
}
.c_box_slider {
	width: 100%;
	float: left;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #CCC;
	border-bottom-color: #CCC;
}
.c_box_slider > img {
	height: 90px;
	width: 100%;
}
.next_pre {
	position: absolute;
	top: 34px;
	width: 100%;
	left: 0px;
	z-index:100;
}
.pre {
	position: absolute;
	left: 5px;
}
.next {
	position: absolute;
	right: 5px;
}
.c_box_dec_main {
	width: 90%;
	/*height: 150px;*/
	height: 131px;
	padding: 5%;
	overflow: hidden;
	float: left;
}
.c_box_dec {
	width: 100%;
	float: left;
}
.c_box_dec p {
	font-size: 13px;
	color: #989898;
}
.c_box_user {
	width: 98%;
	padding-right: 1%;
	padding-left: 1%;
}
.c_box_user p {
	font-size: 16px;
	color: #000000;
	font-family: 'open_sanslight';
}
.l_box_icon {
	background-color: #f7f7f7;
	float: left;
	margin-left: 2px;
	margin-right: 0;
	width: 90.67%;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #e6e6e6;
	border-bottom-color: #e6e6e6;
	border-left-color: #e6e6e6;
	padding-right: 4%;
	padding-bottom: 2%;
	padding-left: 4%;
	
	/* For hide div*/
	display: none;
	/*-------------*/
}
.c_box_icon {
	float: left;
	height: 50px;
	width: 25%;
	position: relative;
}
.c_box_icon a {
	width: 50px;
	float: left;
	height: 50px;
	margin-left: 15%;
}
.c_box_icon a:hover {
	width: 50px;
	float: left;
	height: 50px;
	background-color: #a13b5c;
}
.c_box_row {
	width: 100%;
	float: left;
	margin-bottom: 15px;
}
.l_view_more {
	width: 100%;
	float: left;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #d6d6d6;
	position: relative;
	padding-bottom: 10px;
}
.c_more_btn {
	left: 47%;
	position: absolute;
	text-align: center;
	top: -53px;
	width: auto;
}
.c_more_btn p {
	margin-bottom: 10px;
	color: #989898;
	font-size: 14px;
}
.c_less_btn {
	left: 47%;
	position: absolute;
	text-align: center;
	top: -53px;
	width: auto;
}
.c_less_btn p {
	margin-bottom: 10px;
	color: #989898;
	font-size: 14px;
}
.c_noti_det {
	background-color: #a13b5c;
	border-radius: 100%;
	color: #fff;
	font-family: "open_sanslight";
	font-size: 11px;
	height: 21px;
	line-height: 19px;
	position: absolute;
	left: 45px;
	text-align: center;
	top: 0;
	width: 21px;
}
.c_noti_det_big {
	background-color: #a13b5c;
	border-radius: 100%;
	color: #fff;
	font-family: "open_sanslight";
	font-size: 14px;
	height: 31px;
	line-height: 29px;
	position: absolute;
	right: 4px;
	text-align: center;
	top: 10px;
	width: 31px;
}
/*wisdom_detail_page*/
.l_main_wd {
	width: 100%;
	float: left;
	background-color: #FFF;
	border: 1px solid #cccccc;
	box-sizing:border-box;
	margin-bottom:20px;
}
.l_user_detail {
	width: 80%;
	float: left;
}
.l_user_top {
	width: 100%;
	float: left;
}
.l_user_tabs {
	width: 16%;
	float: right;
	padding: 2% 2% 0;
}
.c_user_pro_area {
	width: 27%;
	float: left;
	padding: 3%;
}
.c_ws_img {
	width: 100%;
	float: left;
}
.c_user_pro_area .c_ws_name {
	width: 100%;
	float: left;
	font-family: 'open_sansregular';
	/*font-size: 25px;*/
	font-size: 24px;
	line-height: 25px;
	color: #8a3345;
	margin-top: 15px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #e5e5e5;
	padding-bottom: 18px;
}
.c_user_pro_area .c_ws_name span {
	font-family: 'open_sanslight';
	font-size: 25px;
	color: #8a3345;
}
.c_ws_name_det {
	width: 100%;
	float: left;
	font-family: 'open_sanslight';
	font-size: 18px;
	color: #808080;

	margin-top:5px;
}
.c_ws_name_det span {
	font-size: 18px;
	color: #8a3345;
}
.c_user_dec {
	width: 63%;
	float: right;
	padding: 2%;
}
.c_user_dec h3 {
	width: 65%;
	float: right;
}
.c_user_dec .kids_txt {
	color: #ea9600;
	float: left;
	font-size: 18px;
	line-height: 72px;
	padding-right: 20px;
}
.c_user_dec_full {
	width: 100%;
	float: left;
	font-family: 'open_sanslight';
}
.c_user_dec_full h4 {
	width: 100%;
	float: left;
	font-size: 24px;
	color: #989898;
}
.c_user_dec_full p {
	font-size: 16px;
	color: #989898;
	margin-top: 20px;
	float: left;
	width: 100%;
	line-height: 20px;
}
.c_ws_icon {
	width: 109px;
	height: 109px;
	float: right;
	border: 1px solid #666;
	margin-bottom: 8px;
	border-radius: 5px;
	position: relative;
}
.c_ws_icon:hover {
	background: #8a3345;
}
/**/
.l_scroller {
	background-color: #e6e6e6;
	float: left;
	margin-top: 10px;
	padding-left: 4%;
	padding-right: 4%;
	width: 92%;
}
.l_video_area {
	width: 92%;
	float: left;
	padding-top: 2%;
	padding-right: 4%;
	padding-bottom: 4%;
	padding-left: 4%;
}
.c_vdo {
	width: 100%;
	float: left;
}
.c_vdo iframe {
	width: 70%;
	float: left; 
	margin-right: 3%; 
	margin-bottom: 2%;
	height:380px;
}
.c_vdo img {
	width: 100%;
}
.c_vod_det {
	width: 28%;
	
}
.c_vod_det h4 {
	width: 27%;
	float: left;
	font-size: 24px;
	color: #989898;
	font-family: 'open_sanslight';
}
.c_vod_det p {
	font-size: 14px;
	color: #989898;
	font-family: "open_sanslight";
	margin-top: 20px;
	
	width: 100%;
	line-height: 20px;
}
.c_comments_area {
	width: 100%;
	float: left;
}
.c_comments_area h1 {
	width: 100%;
	float: left;
	font-size: 30px;
	border-bottom: 1px solid #cccccc;
	color: #989898;
	font-family: 'open_sanslight';
}
.c_comments_box_main {
	width: 100%;
	float: left;
}
.c_comntr_img {
	float: left;
	width: 8%;
}
.c_comntr_txt {
	width: 90%;
	float: right;
}
.c_comntr_txt_reply {
	width: 89%;
	float: right;
}
/***/
.arrow_box {
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #cccccc;
	border-radius: 4px;
	float: left;
	padding: 5px;
	position: relative;
	/*for comment box*/
	width: 98.5%;
	/*---------------*/
}
.arrow_box:after, .arrow_box:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #FFF;
	border-width: 0 7px 8px 0;
	/*margin-top: -3px;*/
	top: 51px;
}
.arrow_box:before {
	border-color: rgba(204, 204, 204, 0);
	border-right-color: #cccccc;
	border-width: 0 9px 11px 0;
	/*margin-top: -4px;*/
	top: 50px;
}
/**/
.c_com_det {
	width: 88%;
	float: left;
	padding-left: 2%;
}
.c_com_icon {
	position: absolute;
	right: 5px;
	bottom: 5px;
	height: 40px;
	width: 40px;
	border: 1px solid #cccccc;
	border-radius: 4px;
}
.c_com_name {
	width: 100%;
	float: left;
}
.c_com_name .c_name_red {
	font-size: 14px;
	font-family: 'open_sanssemibold';
	color: #933356;
}
.c_comt_date {
	font-size: 14px;
	font-family: 'open_sanslight';
	color: #000000;
}
.c_com_name p {
	font-size: 14px;
	font-family: 'open_sanslight';
	color: #616161;
	margin-top: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.c_com_name p .blk {
	font-family: 'open_sanssemibold';
	color: #000;
}
.c_name_links {
	font-size: 14px;
	font-family: 'open_sanslight';
	color: #616161;
	margin-top: 10px;
}
.u_comnt_links {
	font-size: 14px;
	font-family: 'open_sanslight';
	color: #933356;
	margin-top: 10px;
}
.l_comntr_reply {
	width: 98%;
	float: left;
	background: #f0f0f0;
	padding-right: 1%;
	padding-left: 1%;
	padding-bottom: 1%;
	margin-top: -2px;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}
/**/
/**add_wisdom_page**/
.l_mid_without_map {
	width: 100%;
	float: left;
	margin-top: 50px;
	background-image: url(../images/map.png);
	background-repeat: no-repeat;
	background-position: center top;
	min-height: 650px;
}
.l_main_wd_add_main {
	width: 94%;
	float: left;
	background-color: #FFF;
	border: 1px solid #cccccc;
	padding-top: 2%;
	padding-right: 3%;
	padding-bottom: 2%;
	padding-left: 3%;
	margin-bottom: 5%;
}
.c_add_wishdom {
	width: 100%;
	float: left;
}
.c_add_wishdom h1 {
	width: 100%;
	float: left;
	font-size: 30px;
	border-bottom: 1px solid #cccccc;
	color: #989898;
	font-family: 'open_sanslight';
	padding-bottom: 10px;
	/*text-transform: lowercase;*/
}
.c_add_wishdom h1:first-letter {
    text-transform: uppercase;
}
/**/
.c_add_wd_form {
	width: 100%;
	float: left;
	margin-top: 15px;
}
.c_add_form_left {
	width: 49.5%;
	float: left;
}
.c_add_form_right {
	width: 49.5%;
	float: right;
}
.c_form_grd {
	width: 100%;
	float: left;
}
/**/
.u_wd_dd {
	border-radius: 4px;
	overflow: hidden;
	width: 100%;
	line-height: 29px;
}
.u_wd_dd select {
	background-image: url("../images/selecticon_arrow.png");
	background-position: right 10px top 20px;
	background-repeat: no-repeat;
	width: 100% !important;
	border: none ! important;
	outline : medium none !important;
	display: inline-flex !important;
	height: 55px;
	line-height: 29px;
	vertical-align: middle;
	-webkit-appearance: none;
	color: #000000;
	font-size: 18px;
	background-color: #f2f2f2 !important;
	font-family: 'open_sanslight';
	padding-left: 2%;
	padding-right: 2%;
}
.u_wd_dd option {
	font-size: 18px;
	color: #000000;
	width: 100%;
	font-family: 'open_sanslight';
}
.c_multiple_box {
	/*border: 1px solid #cccccc;
	border-radius: 4px;*/
	float: left;
	/*padding: 1%;*/
	width: 100%;
}
.c_multiple_box .tg {
	font-size: 18px;
	background-color: #8a3345;
	padding: 2%;
	color: #FFF;
	font-family: 'open_sanslight';
	border-radius: 4px;
	width: auto;
	float: left;
	margin-right: 5px;
}
.tg .u_tg_close {
	margin-top: 7px;
	width: auto;
	padding-left: 5px;
	float: right;
}
.c_ad_fill {
	width: 100%;
	float: left;
}
.u_ad_fill {
	background-color: #f2f2f2 !important;
	border-radius: 4px;
	font-family: "open_sanslight";
	font-size: 18px;
	height: 29px;
	line-height: 29px;
	padding: 3%;
	width: 94%;
}
.u_ad_txt_fill {
	width: 94%;
	padding: 3%;
	float: left;
	border-radius: 4px;
	background: #f2f2f2;
	font-family: "open_sanslight";
	font-size: 18px;
	/*min-height: 202px;
	max-height: 202px;*/
	min-height: 160px;
	max-height: 160px;
}
.u_sing_fill {
	background-color: #f2f2f2 !important;
	border-radius: 4px;
	font-family: "open_sanslight";
	font-size: 18px;
	height: 29px;
	line-height: 29px;
	padding: 3%;
	width: 94%;
}
.u_textarea {
	background-color: #f2f2f2 !important;
	border-radius: 4px;
	font-family: "open_sanslight";
	font-size: 18px;
	line-height: 29px;
	padding: 3%;
	width: 94%;
}
/**/
.c_upload_img {
	width: 100%;
	float: left;
}
.c_img_box {
	width: 32.3%;
	float: left;
	margin-right: 1%;
	border-radius: 4px;
	border: 1px solid #cccccc;
	margin-right: 1.2%;
}
.c_img_box img {
	/*width: 100%;*/
	border-radius: 4px;
}
.c_img_box:last-child {
	margin-right: 0px;
}
.c_upload_vdo {
	width: 100%;
	float: left;
}
.c_upload_link {
	/*width: 49.5%;*/
	width: 50%;
	float: left;
}
.u_vdo_fill {
	background-color: #f2f2f2 !important;
	border-radius: 4px;
	font-family: "open_sanslight";
	font-size: 18px;
	height: 29px;
	line-height: 29px;
	padding: 3%;
	width: 94%;
}
/**/
.c_vd {
	/*float: left;*/
	position: relative;
	width: 94%;
}
.file {
	height: 40px;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 90%;
	padding-left: 5%;
	padding-right: 5%;
}
.file_span {
	background-color: #f2f2f2;
	border-radius: 4px;
	display: block;
	height: 39px;
	padding: 4% 5% 0 10%;
	width: 85%;
	font-family: 'open_sanslight';
	color: #000;
	overflow: hidden;
}
.c_vd .file {
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0;
	height: 40px;
}
.c_vd .u_ad_fill {
	padding-left:40px;
}
.c_vd_img {
	left: 10px;
	position: absolute;
	top: 16px;
	width: 28px;
}
.c_add_wd_btn {
	/*width: 45%;*/
	width: 45%;
	float: right;
}
.c_wd_chk_main {
	float: left;
	/*padding: 1%;*/
	padding: 1.2% !important;
	border: 1px solid #CCC;
	border-radius: 4px;
	/*width: 150px;*/
	width: 173px;
}
.c_wd_add_btn {
	float: right;
}
.c_chk_kids {
	width: auto;
	float: left;
}
.c_chk_name {
	/*font-size: 14px;*/
	font-size: 13px;
	color: #ea9600;
	font-family: 'open_sansregular';
	/*new css*/
	/*line-height: 35px;*/
	/*********/
}
.u_add_btn2 {
	background-color: #feaf23;
	border: 5px solid #f2f2f2;
	border-radius: 4px;
	color: #fff;
	font-family: "open_sansregular";
	/*font-size: 18px;*/
	font-size: 16px;
	/*padding: 5% 14%;*/
	padding: 5% 14%;
}
.u_add_btn2:hover {
	cursor: pointer;
}

/*sing_in page css*/
.l_soc_main{
	width: 100%;
	float: left;
}
.c_sign_form_left {
	width: 55%;
	float: left;
}
.c_sign_form_right {
	width: 45%;
	float: right;
}
.c_soci_icon{
	width: 80%;
	float: left;
}
.c_or{
	width: 20%;
	float: right;
	color: #8a3345;
	font-size: 18px;
	font-family: 'open_sanslight';
	text-align: center;
	line-height: 100px;
}
.u_google_plus{
	background-color: #d23e2b;
	width: 37%;
	float: left;
	padding: 5%;
	margin-right:1%;
	border-radius:4px;
	text-align: center;
}
.u_facebook_icon{
	background-color: #3b5998;
	width: 37%;
	float: left;
	padding: 5%;
	margin-right:1%;
	border-radius:4px;
	text-align: center;
}
.u_sign_btn {
	background-color: #feaf23;
	border: 5px solid #f2f2f2;
	border-radius: 4px;
	color: #fff;
	font-family: "open_sansregular";
	font-size: 18px;
	padding: 3% 15%;
}
.u_sign_btn:hover {
	cursor:pointer;
}
/*/----------new remove button----------------/*/
.e_remove_w {
	text-align: right;
}
.u_remove_w_btn {
	background-color: #b74f5c;
	border: 5px solid #f2f2f2;
	border-radius: 4px;
	color: #fff;
	font-family: "open_sansregular";
	font-size: 18px;
	padding: 1%;
	margin-bottom: 10px;
}
.u_remove_w_btn:hover {
	cursor:pointer;
	text-decoration: none;
	color: #fff;
}
.e_remove_w a:hover{
	text-decoration: none;
}
/*/----------end of remove button----------------/*/
.u_sign_links{
	color:#8a3345;
	font-size:16px;
	font-family: 'open_sanslight';	
}
.u_sign_links:hover{
	text-decoration:underline;
}
.u_terms_link{
	color: #8a3345;
	font-size: 14px;
	font-family: 'open_sanslight';
}
.u_terms_link:hover{
	text-decoration:underline;
}
.l_user_about {
	width: 100%;
	float: left;
}
.c_user_about{
	width: 63%;
	float: right;
	padding: 2%;
}
.c_user_about_img{
	width: 27%;
	float: left;
	padding: 3%;
}
.c_user_about_img .c_own_name {
	width: 100%;
	float: left;
	font-family: 'open_sanslight';
	font-size: 24px;
	color: #8a3345;
	margin-top: 10px;
	padding-bottom: 18px;
}
.c_own_name .c_designation{
	width:100%;
	float:left;
	font-size:14px;
	color:#000;	
}
/**/
/**Custome Check box**/

input[type=checkbox].css-checkbox {
	position: absolute;
	z-index: -1000;
	left: -1000px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}
input[type=checkbox].css-checkbox + label.css-label {
	padding-left: 47px;
	height: 42px;
	display: inline-block;
	color:#676767;
	line-height: 42px;
	background-repeat: no-repeat;
	background-position: 0 0;
	font-size: 14px;
	font-family: 'open_sanslight';
	vertical-align: middle;
	cursor: pointer;
}
input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -42px;
}
label.css-label {
	background-image: url(../images/check_un_chchcek_box.png);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/***/
h2 { font-size:24px; color:#000;font-family: 'open_sanslight';}
.u_email_link {font-size:24px; color:#8a3345;font-family: 'open_sansregular';}
.u_email_link:hover { text-decoration:underline;}
.c_contact_form {
	width: 100%;
	float: left;
	margin-top: 30px;
}
.c_contact_form_left { width:49%; float:left;}
.c_contact_form_right { width:49%; float:right;}
.u_send_btn {
	background-color: #feaf23;
	border: 5px solid #f2f2f2;
	border-radius: 4px;
	color: #fff;
	font-family: "open_sansregular";
	font-size: 18px;
	padding: 3% 15%;
	float:right;
}
.u_send_btn:hover {
	cursor:pointer;
}
h4 {
	font-family: 'open_sanslight';
	font-size: 24px;
	color: #989898;
	float:left;
}
.c_term_cont {
	width: 100%;
	float: left;
}
.c_term_cont p { font-size:16px; color:#989898; font-family: 'open_sanslight';}
.l_term_main {
	float: left;
	width: 90%;
	padding-top: 2%;
	padding-right: 5%;
	padding-bottom: 7%;
	padding-left: 5%;
}
.c_video_main { width:100%; float:left;}
.c_video { width:70%; padding:5% 15%;}
.c_video img { width:100%;
	-webkit-box-shadow: 2px 2px 50px 5px #656565;
	box-shadow: 2px 2px 50px 5px #656565;
}
.remodal h1 {
	font-size: 30px;
	color: #989898;
	font-family: 'open_sanslight';
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #cccccc;
	line-height:50px;
}
.c_popup_social {
	float: left;
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align:center;
}
.c_popup_social a {
	padding:0 7px;
	-webkit-transition: -webkit-transform .4s ease-in-out;
	-ms-transition: -ms-transform .4s ease-in-out;
	transition: transform .4s ease-in-out;
}
.c_popup_social a:hover {
	transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}
.l_alert {
	width: 100%;
	float:left;
	background-color: #ea9600;
	-webkit-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.2);
box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.2);
	position: relative;
	z-index:9999;
}
.c_alert_wrap { width:80%; margin:0 auto;}
.c_alert1 { width:100%; float:left;}
.c_alert1_left { float:left;}
.c_alert1_left img { padding:0px 10px 0 0; vertical-align:middle;}
.c_alert1_left span {
	font-family: 'open_sanslight';
	font-size: 16px;
	color: #FFF;
	line-height:40px;
	text-decoration:underline;
}
.c_alert1_right { float:right; position:relative; z-index:99999;}
.c_alert2 {
	width: 100%;
	float: left;
	/*padding: 40px 0;*/
	position: relative;
	background-color: #ea9600;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #df6100;
	display:none;
	position:absolute;
}
.c_alert2_wrap { width:80%; margin:0 10%; padding:50px 0; float:left; position:relative;}
.c_alert2_left { width:25%; float:left; padding-top:5%;}
.c_alert2_right { width:70%; float:right;}
.c_alert2_right p {
	font-family: 'open_sanslight';
	font-size: 16px;
	color: #FFF;
}
.c_alert2_right a {
	font-family: 'open_sanslight';
	font-size: 16px;
	color: #FFF;
	text-decoration:underline;
}
.alert_up { position:absolute; right:0; bottom:0;}
.l_map_dropdown_bg { display:none;}
.map_dropdown {
	border-radius: 4px;
	overflow: hidden;
	width: 100%;
	line-height: 29px;
}
.map_dropdown select {
	background-image: url("../images/selecticon_arrow.png");
	background-position: right 10px top 20px;
	background-repeat: no-repeat;
	width: 100% !important;
	border: none ! important;
	outline : medium none !important;
	display: inline-flex !important;
	height: 55px;
	line-height: 29px;
	vertical-align: middle;
	-webkit-appearance: none;
	color: #000000;
	font-size: 18px;
	background-color: #f2f2f2 !important;
	font-family: 'open_sanslight';
	padding-left: 2%;
	padding-right: 2%;
}
.map_dropdown option {
	font-size: 18px;
	color: #000000;
	width: 100%;
	font-family: 'open_sanslight';
}
.c_map_area_search_mob { display:none;}
.l_view_more_abs { position:absolute; left:44%; top:-23px;}
.c_down_btn {
	text-align: center;
	width: auto;
	float:left;
}
.c_up_btn {
	text-align: center;
	width: auto;
	float:left;
	margin-left:5px;
}


.fileupload {
	margin-bottom:0px
}
.fileupload .uneditable-input {
	display:inline-block;
	margin-bottom:0;
	vertical-align:middle;
	cursor:text
}
.fileupload .thumbnail {
	display:inline-block;
	margin-bottom:5px;
	overflow:hidden;
	text-align:center;
	vertical-align:middle;
	width:97%;
}
.fileupload .thumbnail>img {
	display:inline-block;
	max-height:100%;
	vertical-align:middle;
	border: 0 none;
    height: auto;
}
.fileupload .btn {
	vertical-align:middle
}
.fileupload-exists .fileupload-new, .fileupload-new .fileupload-exists {
	display:none
}
.fileupload-inline .fileupload-controls {
	display:inline
}
.fileupload-new .input-append .btn-file {
	-webkit-border-radius:0 0 0 0;
	-moz-border-radius:0 0 0 0;
	border-radius:0 0 0 0
}
.thumbnail-borderless .thumbnail {
	padding:0;
	border:none;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none
}
.fileupload-new.thumbnail-borderless .thumbnail {
	border:1px solid #ddd
}

.btn-file {
    border: 1px solid #ccc;
    overflow: hidden;
    padding: 4px 8px;
    position: relative;
    vertical-align: middle;
}
.btn-file > input {
    cursor: pointer;
    direction: ltr;
    font-size: 23px;
    margin: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(-300px, 0px) scale(4);
}

ul.tagit {
	/*padding:5px 5px;*/
	padding: 2%;
	margin: 0;
}

.frm-video-desc {
	width: 94%;
	padding: 3%;
	float: left;
	border-radius: 4px;
	background: #f2f2f2;
	font-family: "open_sanslight";
	font-size: 18px;
	min-height: 93px;
	max-height: 93px;
}

/********For profile Dropdown*******/

.abc {
	/*width: 60px;*/
} 
.abc_dt {
    clear: left;
    font-size: 12px;
    width: auto;
    /* new css */
    max-width: 160px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    
   /***********/
}
.abc dd {
	position: relative;
}
.abc a, .abc a:visited {
	color: #FFF;
	text-decoration: none;
	outline: none;
}
.abc a {
    padding-top: 1px;
}
.abc a:hover {
    padding-top: 1px;
}
.abc .abc_dt a:hover {
	color: #FFFFFF;
}
.abc .abc_dt a {
	display: block;
	background-attachment: scroll;
	background-color: #8a3345;
	background-image: url(../images/dd_icon.png);
	background-repeat: no-repeat;
	padding-left:15px;
	background-position: left center;
}
.abc .abc_dt a span {
	cursor: pointer;
	display: block;
	padding: 5px;
}
.abc dd ul {
	background: none repeat scroll 0 0 #8a3345;
	color: #c5c0b0;
	display: none;
	right: 0px;
	list-style: outside none none;
	position: absolute;
	text-align: left;
	top: 2px;
	width: 150px;
	font-size: 12px;
	z-index: 99;
	/*padding: 5px;*/
}
.abc span.value {
	display: none;
}
.abc dd ul li a {
	display: block;
	padding-top: 2px;
	text-align: center;
}
.abc dd ul li a:hover {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFF;
	background-color: #fff;
        color: #8a3345;
        font-weight: bold;
}


/*----------wisdom box hover-------------*/

.wisdom-hover-box-title{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	padding: 7%;
}

/** we hide the transparent slideup div and will only show when hovering **/
.wisdom-hover-box-transparentbg{
	height:15%;
	width:100%;
	overflow-y: hidden;
	position:absolute;
	bottom:0;
	background:url(../images/trnsparent_rpt.png);
	display:none;
}
.wisdom-hover-box-title a {
		color:#ffffff;
		text-decoration: none;
	}

/*---------------------------------------*/
/*----------------comment textbox-----------*/
.c_comntr_txt textarea {
	background: none repeat scroll 0 0 #f2f2f2;
	font-family: "open_sanslight";
    font-size: 18px;
    width: 96%;
    float: right;
    padding: 2%;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.c_comntr_txt_reply textarea {
	background: none repeat scroll 0 0 #f2f2f2;
	font-family: "open_sanslight";
    font-size: 18px;
    width: 96%;
    float: right;
    padding: 2%;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.u_send_btn_comment {
    background-color: #feaf23;
    border: 5px solid #f2f2f2;
    border-radius: 4px;
    color: #fff;
    font-family: "open_sansregular";
    font-size: 18px;
    padding: 1% 5%;
    float:right;
}
/*-------------------------------------------*/
/*------------- for all error message--------*/
.error-msg {
	color: #d23e2b;
}
/*--------------------------------------------*/
/*add wisdom character */
.charecter{
    background-color: #f2f2f2 !important;
    border-radius: 4px;
    color: #989898;
    font-size: 18px;
    font-family: "open_sanslight";
    height: 20px;
    line-height: 20px;
    margin-bottom: 10px;
    padding: 4%;
    text-align: right;
    width: 92%;
    font-style: italic;
}
/*----*/
.w_textarea{
	/*background-color: #f2f2f2 !important;
    border-radius: 4px;
    color: #989898;
	font-size: 18px;
    font-family: "open_sanslight";
    height: 22px;
    line-height: 20px;
    margin-top: 10px;
    padding: 3%;
    width: 94%;*/
	background-color: #f2f2f2 !important;
    border-radius: 4px;
    color: #989898;
	font-size: 18px;
    font-family: "open_sanslight";
    height: 45px;
    /*line-height: 16px;*/
    margin-top: 10px;
    padding: 2%;
    width: 96%;
}
/*----*/



/*-----------------------------------partner page css--------------------------------------------*/
.l_partner_box{
	width: 24.25%;
	margin-right: 1%;
	float: left;
	background-color: #f5f3f3;
	margin-top: 1%;
	padding-bottom: 15px;
}
.l_partner_box:nth-child(4n){
	margin-right:0% !important;
	float: left;
	background-color: #f5f3f3;
	margin-top: 1%;
	padding-bottom: 15px;
}
.c_partner_head{
	background-color: #616161;
	color: #FFF;
	font-family: "pf_din_text_comp_proregular";
	width: 96%;
	text-transform: uppercase;
	font-size: 18px;
	padding-top: 3%;
	padding-right: 2%;
	padding-bottom: 3%;
	padding-left: 2%;
}
.c_partner_logo{padding:8% 10%; width:80%; text-align:center;}
.c_partner_logo img{width:100%;/*min-height: 176px;max-height: 176px;*/}
.round_img_partner{border-radius:100%;}
.c_partner_det{
    float: left;
    height: 95px;
    overflow: hidden;
    padding: 2%;
    width: 96%;
}
.c_partner_det span{
	text-transform: uppercase;
	text-align: left;
	color: #8a8989;
	font-family: "pf_din_text_comp_proregular";
	font-size: 16px;
	font-weight: bold;
}
.c_partner_det p{
	color: #8a8989;
	line-height:19px;
	font-size: 14px;
	font-family: 'open_sansregular';
	/*text-align: left;*/
	text-align:center;
}
.c_partner_btn_box{width:100%; text-align:center;}
a.u_visit_partner_page{
	text-decoration: none;
	text-align: center;
	padding: 4% 4%;
	background-color: #8a3345;
	border-radius: 4px;
	color: #FFF;
	font-family: "pf_din_text_comp_proregular";
	font-size: 16px;
	text-transform: uppercase;
}

a.u_visit_partner_page:hover{
text-decoration: none;
background-color: #feaf23;
}
/****************************************************************************************
*******************************************/
/**Replce this css for profile icons and name**/
.c_first_box {
	float: left;
	margin-top: 35px;
	width: 25%;
}
.c_profile_box {
	float: right;
	margin-top: 35px;/*width: 25%;*/
}

/*-- for search result slider hide--*/
.flexiselDemo2Div{
	display: none;
}
.flexiselDemo2DivArrow{
	display:none;
}
/*---------------------------------*/
/*-----For index page tag text*/
.tagtext{
	color : red;
}
/*-----------------------------*/

/*----------For report popup---------*/
.remodal {
	background-color:#ffffff !important;
	font-family: 'open_sanslight' !important;
}
/*----------------------------------*/

/*---------For search result slider----*/
.flexiselDemo2 {
    position:relative;
	height: 90px;
    width: 100%;
}
.flexiselDemo2 IMG {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
    opacity:0.0;
	height: 90px;
	width: 100%;
}

.flexiselDemo2 IMG.active {
    z-index:10;
    opacity:1.0;
}

.flexiselDemo2 IMG.last-active {
    z-index:9;
}
/*-----------------------------------------*/

/*-------------------------------------------*/

/*-------for wisdom detail defult language button---------*/
.defleng{
	display: none;
}
/*-------------------css 18-2-15 ---------*/
.u_sign_btn_new
{
background-color: #feaf23;
border: 5px solid #f2f2f2;
border-radius: 4px;
color: #fff;
font-family: "open_sansregular";
font-size: 18px;
padding: 1% 3%;
}

.u_sing_fill_new {
	background-color: #f2f2f2 !important;
	border-radius: 4px;
	font-family: "open_sanslight";
	font-size: 18px;
	height: 29px;
	line-height: 29px;
	padding:1%;
	width:98%;
}




#mapdiv {
width: 100%; 
height: 500px;
}
