@media only screen and (max-width: 1366px) {
.nbs-flexisel-item img {
    max-width:320px;
}
.nbs-flexisel-ul {
    padding-left: 9px;
}
}
@media only screen and (max-width: 1280px) {
.nbs-flexisel-item img {
    max-width:300px;
}
.nbs-flexisel-ul {
    padding-left: 9px;
}

.c_noti_det_big {
background-color: #a13b5c;
border-radius: 100%;
color: #fff;
font-family: "open_sanslight";
font-size: 10px !important;
height: 23px !important;
line-height: 24px !important;
position: absolute;
right: 19px !important;
text-align: center;
top: 23px !important;
width: 20px !important;
}
}



@media only screen and (max-width: 1024px) {
.c_loc1 {
width:10%;
background-size:100%;
}
.c_digit {
font-size:40px;
top:25px;
line-height:25px;
}
.c_loc2 {
width:10%;
background-size:100%;
}
.c_loc3 {
width:8%;
background-size:100%;
top:11%;
}
.c_digit3 {
font-size:35px;
line-height:22px;
top:10px;
}
.c_loc4 {
width:9%;
background-size:100%;
top:40%;
}
.c_digit4 {
font-size:40px;
top:8px;
}
.c_loc5 {
width:8%;
background-size:100%;
top:33%;
}
.c_loc6 {
width:7%;
background-size:100%;
top:58%;
}
.c_digit6 {
font-size:35px;
top:7px;
}
/*.c_logo img { width:100%;}*/
.c_header_wrap {
width:90%;
}
.c_wrap {
width: 90%;
}
.u_add_btn {
margin-right: 10%;
padding: 2% 2% 2% 12%;
}
.c_inner_fltr_wrap {
width:93%;
}
/*.l_map_area { height:auto;}*/
/*.c_map_area { height:auto;}*/
.c_map_area_search {
height:auto;
}
/*.c_map_detail_loacation { height:100%;}*/
.nbs-flexisel-item img {
 /*max-width:275px;
 max-height:none;*/
 max-width:260px;
 max-height:none;
}
.nbs-flexisel-ul {
    padding-left: 1px;
}
.c_comntr_img {
width: 12%;
}
.c_comntr_txt {
width: 88%;
}
.c_comntr_txt_reply {
width:88%;
}
.c_img_box {
box-sizing:border-box;
}
.c_map_area {
width:98%;
margin:1%;
height:68vh;
}
.c_user_about_img {
 padding: 3% 0;
 width: 35%;
}
.c_user_about {
width:60%;
}
.c_alert_wrap {
width:90%;
}

.c_noti_det_big {
background-color: #a13b5c;
border-radius: 100%;
color: #fff;
font-family: "open_sanslight";
font-size: 10px !important;
height: 23px !important;
line-height: 24px !important;
position: absolute;
right: 16px !important;
text-align: center;
top: 20px !important;
width: 20px !important;
}
}
@media only screen and (max-width: 768px) {
#mapdiv{
		width: 100%;
		/*margin-left:5%*/
		height: 400px;
	}
.abc_dt {
max-width: 110px;
}
.round_img_comment{
max-width: 85px;
height:85px !important;
width:85px !important;
}
.u_cont_search {
width:200px;
}
.c_digit {
 font-size: 30px;
 line-height: 20px;
 top: 18px;
}
.c_loc_txt {
 font-size: 18px;
}
.c_loc3 {
 top: 8%;
}
.c_digit3 {
 font-size: 28px;
 line-height: 18px;
 top: 3px;
}
.c_loc_txt3 {
 font-size: 14px;
}
.c_loc4 {
 top:33%;
}
.c_digit4 {
 font-size: 30px;
 top: 8px;
 line-height:18px;
}
.c_loc5 {
 top: 24%;
}
.c_loc6 {
 top: 43%;
}
.c_digit6 {
 font-size: 25px;
 top: 0;
}
.c_loc_txt6 {
 font-size: 12px;
}
.c_inner_fltr_wrap {
 width: 94%;
}
.u_add_btn {
/*padding: 2% 2% 2% 13%;*/
padding: 2% 2% 2% 18%;
}
.cf_link {
clear:left;
}
.c_copy {
width:100%;
text-align:center;
margin-top:5px;
}
.cf_link {
width:100%;
text-align:center;
margin-top:5px;
}
.l_soc_icon {
 float: right;
 text-align: center;
 width: 100%;
 margin-top:5px;
 margin-bottom:10px;
}
.c_soc_main {
 text-align: center;
}
.c_soc_main a {
float:none;
}
.c_copy {
position:absolute;
bottom:0;
text-align:center;
}
.l_map_area {
height:auto;
}
.c_map_area {
height:500px;
}
.c_map_area_search {
height:500px;
}
.l_middle {
margin-bottom:20px;
}
.l_box_main {
 padding: 1% 1% 7%;
 width: 98%;
}
.c_wrap {
 width: 100%;
}
.nbs-flexisel-item img {
 max-width:225px;
 max-height:none;
/*margin:5px;*/
}
.nbs-flexisel-nav-left {
width:25px;
left:-30px;
background-position:center center
}
.nbs-flexisel-nav-right {
width:25px;
right:-30px;
background-position:center center
}
.c_user_pro_area .c_ws_name {
font-size:18px;
padding-bottom:10px;
}
.c_user_pro_area .c_ws_name span {
font-size:18px;
}
.c_ws_name_det {
font-size:14px;
}
.c_ws_name_det span {
font-size:14px;
}
.c_vdo {
width: 65%;
}
.c_vod_det {
width: 33%;
margin-top:0;
}
.c_comntr_txt {
width: 86%;
}
.c_comntr_txt_reply {
width: 84%;
}
.c_add_wd_btn {
width:48%;
}
.l_main_wd_add_main {
box-sizing:border-box;
width:100%;
}
.c_user_about_img {
 padding: 3% 0;
width: 100%;
}
.c_user_about {
width:100%;
}
.c_alert2_wrap {
width:90%;
margin:0 5%;
}
.c_alert2_left img {
width:100%;
}

/**********************************************Media Css for partner page**************************************************/
.l_partner_box {
    background-color: #f5f3f3;
    float: left;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 1%;
    padding-bottom: 15px;
    width: 49%;
}
/**********************************************Media Css for partner page End**************************************************/
.c_noti_det_big {
background-color: #a13b5c;
border-radius: 100%;
color: #fff;
font-family: "open_sanslight";
font-size: 10px !important;
height: 23px !important;
line-height: 24px !important;
position: absolute;
right: 20px;
text-align: center;
top: 12px !important;
width: 20px !important;
}

}
@media only screen and (max-width: 640px) {
.w_textarea {
	height: 35px;
	line-height: 35px;
	margin-top: 0;
        width: 96%;
}
.l_mid_del{margin-top:200px; !important}
#mapdiv {
		display: none;
	}
.l_cntr_cir{
		display:none;
	}
.u_cont_search {
width:200px;
}
.c_map_detail_loacation {
display:none;
}
.l_map_area {
height:auto;
margin-top:20px;
}
.c_map_area {
height:75vh;
}
.c_map_area_search {
height:auto;
}
.u_add_btn {
margin-left:35px;
padding: 4% 2% 4% 13%;
}
header {
 padding-bottom: 15px;
 padding-top: 15px;
}
.c_first_box {
 margin-top: 0;
 width: 50%;
}
.c_logo {
 text-align: center;
 width: 100%;
 margin-top:20px;
}
.c_logo img {
 width: 60%;
}
.c_profile_box {
 margin-top: 0;
 position: absolute;
 right: 5%;
}
.l_map_dropdown_bg {
 display: block;
 background-image: url(../images/trnsparent_rpt.png);
 background-repeat: repeat;
 background-position: left top;
 padding: 5% 2%;
 width: 96%;
 position:absolute;
 z-index:999;
 top:15%;
}
.l_filter_part .c_serach_fill {
width:100%;
padding:2% 0%;
background-image:none;
}
.c_inner_fltr_wrap {
width: 100%;
}
.c_cont_fill {
width:100%;
}
.u_cont_search {
padding: 3% 24% 3.5% 10%;
width: 66%;
}
.c_add_btn_main {
width:100%;
padding:1% 0%;
background-image:none;
text-align:center;
}
.u_add_btn {
 margin: 0;
 padding: 2% 2% 2% 13%;
float:none;
}
.c_map_area_search {
display:none;
}
.l_filter_part {
 float: left;
 width: 90%;
 padding: 2% 5%;
 background-image: url(../images/trnsparent_rpt_mob.png);
 background-repeat: repeat;
 background-position: left top;
}
.c_map_area_search_mob {
display:block;
width:96%;
padding:2%;
overflow:hidden;
}
.country_arrow {
float:left;
margin-top:20px;
}
.country_name {
float:right;
}
.country_name p {
font-family: 'pf_din_text_comp_prolight';
font-size:48px;
color:#fff;
}
.l_box_main_main {
width:100%;
margin:0 0 10px 0;
}
.l_box {
width:100%;
margin:0;
height:auto;
box-sizing:border-box;
max-height:none;
}
.c_box_detail {
padding: 2%;
width: 96%;
}
.c_box_dec_main {
padding: 2%;
width: 96%;
height:auto;
}
.l_box_icon {
padding-bottom:0;
width: 91.67%;
margin-left:0;
}
.c_box_icon {
 width: 12%;
margin:0 6.5%;
}
.c_noti_det {
 left: 40px;
}
.c_user_pro_area {
width:50%;
}
.c_user_dec {
width:120%;
clear:right;
float:left;
margin-top:100px;
}
.l_user_tabs {
width:12%;
}
.c_ws_icon {
width:100%;
height:100%;
}
.c_ws_icon a img {
width:100%;
}
.c_user_dec .right {
width:50%;
float:left;
margin:0 25%;
}
.c_user_dec img {
width:50%;
}
.c_user_dec .kids_txt {
line-height:40px;
}
.nbs-flexisel-item img {
 max-width:290px;
 max-height:none;
/*margin:5px;*/
}
.nbs-flexisel-nav-left {
width:15px;
left:-25px;
background-position:center center;
}
.nbs-flexisel-nav-right {
width:15px;
right:-25px;
background-position:center center;
}
.c_vod_det p {
margin-top:0;
float: right;
}
.c_vod_det h4 {
	width: 100%;
}
.c_vdo iframe {
	width: 100%;
}
.l_video_area {
width:96%;
padding:2%;
}
.c_comntr_img {
 width: 14%;
}
.c_comntr_txt {
 width: 84%;
}
.c_comntr_txt_reply {
 width: 82%;
}
.c_add_form_left {
width:100%;
}
.c_add_form_right {
width:100%;
margin-top:10px;
}
.u_ad_txt_fill {
min-height:100px;
max-height:100px;
}
.c_img_box {
width:100%;
margin:0 0 10px 0;
}
.c_upload_link {
width:100%;
}
.c_add_wd_btn {
width:100%;
margin-top:10px;
}
.c_wd_chk_main {
width:98%;
}
.c_wd_add_btn {
width:100%;
margin-top:10px;
}
.u_add_btn2 {
width:100%;
}
.c_contact_form_left {
width:100%;
}
.c_contact_form_right {
width:100%;
margin-top:10px;
}
.u_send_btn {
width:100%;
}
.c_sign_form_left {
width:100%;
}
.c_soci_icon {
width:100%;
}
.c_or {
width:100%;
}
.c_sign_form_right {
width:100%;
}
.c_form_grd img {
width:100%;
}
.u_sign_btn {
width:100%;
}
.u_remove_w_btn{
width: 100%;
padding: 3%;	
}
.u_google_plus {
margin:0;
width:35%;
}
.u_facebook_icon {
margin:0;
width:35%;
float:right;
}
.l_mid_without_map {
background-image:none;
min-height:auto;
}
.c_video img {
box-shadow:none;
}
/**********************************************Media Css for partner page**************************************************/
.l_partner_box {
    background-color: #f5f3f3;
    float: left;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 3%;
    padding-bottom: 15px;
    width: 100%;
}

.c_profile_box .user_name {
margin-top:3px !important;
}

.c_chk_name
{
    line-height:35px !important;
}
/**********************************************Media Css for partner page End**************************************************/

.c_form_grd {
width: 100%;
float: left;
}

.u_ad_fill {
background-color: #f2f2f2!important;
border-radius: 4px;
font-family: "open_sanslight";
font-size: 18px;
height: 29px;
line-height: 29px;
padding: 2%;
width: 96%;
}

.c_wd_chk_main {
width: 97%;
}

.wisdom-hover-box-title {
text-align: center;
font-size: 20px;
font-weight: bold;
padding: 2%;
}

.search_icon {
position: absolute;
left: 24px;
top: 15px;
z-index: 101;
}

.c_vd .u_ad_fill {
padding-left: 47px;
}

.c_noti_det_big
{
    background-color: #a13b5c;
border-radius: 100%;
color: #fff;
font-family: "open_sanslight";
font-size: 10px !important;
height: 23px !important;
line-height: 24px !important;
position: absolute;
right: 5px !important;
text-align: center;
top: 12px !important;
width: 20px !important;
    
}

}
@media only screen and (max-width:480px) {
.l_mid_del{margin-top:180px; !important}
.c_lan_dd {
margin-left:10px;
}
.c_profile_box .user_name {
margin-top:8px;
}
.c_logo img {
 width: 100%;
}
.l_filter_part .c_serach_fill {
width:96%;
padding:2%;
background-image:none;
}
.c_inner_fltr_wrap {
width:100%;
}
.c_cont_fill {
width:100%;
}
.u_cont_search {
 padding: 3.5% 24% 3.5% 10%;
 width: 66%;
}
.c_add_btn_main {
background-image:none;
width:60%;
padding:2% 20%;
}
.u_add_btn {
 margin-right: 0;
 padding: 4% 20%;
 width: 100%;
}
.nbs-flexisel-item img {
 max-width:210px;
 max-height:none;
/*margin:5px;*/
}
.nbs-flexisel-nav-left {
width:15px;
left:-20px;
}
.nbs-flexisel-nav-right {
width:15px;
right:-20px;
}
.c_user_dec {
margin-top:20px;
}
.c_vdo {
width:100%;
}
.c_vod_det {
width:100%;
}
.l_video_area .mrgn_t50 {
margin-top:20px;
}
.c_comntr_img {
 width: 18%;
}
.c_comntr_txt {
 width: 100%;
 margin-top:10px;
}
.arrow_box:after, .arrow_box:before {
 right: 100%;
 top: 50%;
}
.arrow_box:after {
 border-color: rgba(255, 255, 255, 0);
 border-bottom-color: #FFF;
 border-width:  0 9px 10px 0;
 left: 81px;
 top:-10px;
}
.arrow_box:before {
 border-color: rgba(204, 204, 204, 0);
 border-bottom-color: #cccccc;
 border-width:  0 12px 11px 0;
 left: 80px;
 top:-11px;
}
.c_comntr_txt_reply {
 width: 100%;
 margin-top:10px;
}
.c_com_icon {
 right: 0;
 top: -50px;
}
.c_com_det {
width:96%;
}
.c_alert1_left span {
font-size:12px;
}
.c_alert2_right p {
font-size:12px;
}
.c_alert2_right a {
font-size:12px;
}
.l_view_more_abs {
left:38%;
}
.c_noti_det_big {
background-color: #a13b5c;
border-radius: 100%;
color: #fff;
font-family: "open_sanslight";
font-size: 9px !important;
height: 15px !important;
line-height: 18px !important;
position: absolute;
right:4px !important;
text-align: center;
top:4px !important;
width: 20px !important;
}

}
@media only screen and (max-width: 360px) {
main {
min-height:100%;
}
.l_middle {
 margin-bottom: 20px;
}
.u_find_btn {
padding: 2% 3%;
}
.c_wrap {
width:100%;
}
.u_cont_search {
 padding: 3.5% 24% 4.5% 10%;
}
.search_icon {
width:7%;
top: 11px;
}
.resp-tabs-list li {
font-size:18px;
}
.nbs-flexisel-item img {
 max-width:320px;
 max-height:none;
 margin:5px;
}
.nbs-flexisel-nav-left {
display:none;
}
.nbs-flexisel-nav-right {
display:none;
}
.c_map_area {
background-size:150%;
background-position:center center;
}
.c_map_area {
height:45vh;
}
.c_alert1_left {
width:80%;
}
.c_alert1_left span {
line-height:25px;
}
.c_alert2_left {
width:30%;
margin:0 35%;
padding:0;
}
.c_alert2_right {
width:100%;
margin-top:10px;
}
h2 {
font-size:18px;
}
.u_email_link {
font-size:18px;
}
.u_google_plus {
margin:0;
width:38%;
padding:10% 5%;
}
.u_facebook_icon {
margin:0;
width:38%;
padding:10% 5%;
float:right;
}
.l_view_more_abs {
left:35%;
}
.l_view_more {
margin-top:15px;
}
.c_more_btn {
left:41%;
}
.c_video {
 padding: 5% 0;
 width: 100%;
}
.c_user_dec .right {
width:80%;
margin:0 10%;
}
c_profile_box {
    margin-top: -6px;
    position: absolute;
    right: 5%;
}

.c_popup_social
{
    padding: 10px 0;
    margin-left: 28px;
}

.c_profile_box .user_name {
margin-top:3px;
}

.c_chk_name
{
    line-height:35px !important;
}
.u_add_btn
{
    background-position: left 3% center !important;
    font-size: 14px;
}

.l_comntr_reply {
width: 90%;
float: left;
background: #f0f0f0;
padding-right: 1%;
padding-left: 1%;
padding-bottom: 1%;
margin-top: -2px;
margin-left: 9%;
-webkit-border-bottom-right-radius: 4px;
-webkit-border-bottom-left-radius: 4px;
-moz-border-radius-bottomright: 4px;
-moz-border-radius-bottomleft: 4px;
border-bottom-right-radius: 4px;
border-bottom-left-radius: 4px;

}
.c_form_grd {
width: 100%;
float: left;
}

.c_vd {
position: relative;
width: 91%;
}

.c_vd_img {
left: 5px;
position: absolute;
top: 8px;
width: 28px;
}

.c_vd .u_ad_fill {
padding-left:37px !important;
}

.u_ad_fill {
background-color: #f2f2f2!important;
border-radius: 4px;
font-family: "open_sanslight";
font-size: 18px;
height: 29px;
line-height: 29px;
padding: 2%;
width: 95.5%;
}

.wisdom-hover-box-title {
text-align: center;
font-size: 20px;
font-weight: bold;
padding: 5%;
}

.search_icon {
position: absolute;
left: 8px !important;
z-index: 101;
}

.c_noti_det_big {
background-color: #a13b5c;
border-radius: 100%;
color: #fff;
font-family: "open_sanslight";
font-size: 7px !important;
height: 15px !important;
line-height: 16px !important;
position: absolute;
right: 4px;
text-align: center;
top: 4px !important;
width: 10px !important;
}

}
@media only screen and (max-width: 320px) {
/*main {
    min-height: 130%;
}*/
.c_soc_main a img {
width:13%;
}
.nbs-flexisel-item img {
 max-width:282px;
 max-height:none;
 margin:5px;
}
.u_sign_links {
font-size:14px;
}
.l_view_more_abs {
left:30%;
}

.c_noti_det_big {
background-color: #a13b5c;
border-radius: 100%;
color: #fff;
font-family: "open_sanslight";
font-size: 7px !important;
height: 12px !important;
line-height: 11px !important;
position: absolute;
right: 4px !important;
text-align: center;
top: 0px !important;
width: 14px !important;
}
}
