.u_find_btn {
	-webkit-appearance:none;
}
.u_add_btn {
	-webkit-appearance:none;
}
.zoom_in_btn {
	width: 60px;
	position: absolute;
	left: 10%;
	top: 50%;
}
.l_cntr_cir {
	width: 240px;
	position: absolute;
	right: 10%;
	/*top:40%;*/
	top:25%;
	height: 240px;
	color: #FFF;
}
