
<div class="l_alert">
	<div class="c_alert_wrap">
    	<div class="c_alert1">
        	<div class="c_alert1_left">
	    		<a href="#" class="btn2">
                	<img src="{{ uri }}assets/images/alert_icon_small.png" />
                    <span>The ombeliko site does <strong>not</strong> provide any medical advice!</span>
                </a>
        	</div>
            <!--<div class="c_alert1_right">
	    		<a href="#" class="btn3"><img src="{{ uri }}assets/images/close.png" /></a>
        	</div>-->
        </div>
    </div>
    <div class="c_alert2">
    	<div class="c_alert2_wrap">
            <div class="c_alert2_left"><img src="{{ uri }}assets/images/alert_icon_big.png" /></div>
            <div class="c_alert2_right">
                <p>The contents of the Ombeliko.com site, such as text, graphics, images, information, and other material contained on the Ombeliko.com site ("Content") are for informational purposes only. The Content is not intended to be a substitute for professional medical advice, diagnosis, or treatment. Always seek the advice of your physician or other qualified health provider with any questions you may have regarding a medical condition. Never disregard professional medical advice or delay in seeking it because of something you have read on the Ombeliko.com site.<br /><br />
        
        If you think you may have a medical emergency, call your doctor immediately. Ombeliko.com does not recommend or endorse any specific tests, physicians, products, procedures, opinions, or other information that may be mentioned on the Site. Reliance on any information provided by Ombeliko.com, its employees, others appearing on the Site at the invitation of Ombeliko.com, or other visitors to the Site is solely at your own risk.<br /><br />
        
        For full details see <a href="{{ uri }}terms/" target="_blank">Terms of Use</a>.</p>
            </div>
            <div class="alert_up"><a href="#" class="btn1"><img src="{{ uri }}assets/images/alert_up.png" /></a></div>
        </div>
    </div>
</div>
