
    <div class="l_mid_without_map">
      <div class="c_wrap">
        <div class="l_main_wd_add_main">
			<div class="c_add_wishdom">
            	<h1 id="lang_contactas">{{ con_Contactus }}</h1>
                <h2 class="mrgn_t100">
					<span id="lange_cont_text1">{{ text1 }} </span><a href="mailto:contact@ombeliko.com?subject=Contact User" class="u_email_link">contact@ombeliko.com</a><br /><span id="lange_cont_text2"> {{ text2 }}</span> 
                </h2>
				<form method="POST" action="">
					{{ error_message }}
					<div class="c_contact_form">
						<div class="c_contact_form_left">
							<input type="hidden" value="{{ webpage }}" id="webpage" /> 
							<div class="c_form_grd"><input type="text" id="name" name="name" required="required" placeholder="{{ con_Name }}" class="u_sing_fill"></div>
							<div class="c_form_grd mrgn_t10"><input type="email" id="email" name="email" required="required" placeholder="{{ con_Email }}" class="u_sing_fill"></div>
							<div class="c_form_grd mrgn_t10"><input type="text" id="title" name="title" required="required" placeholder="{{ con_Titleofmessage }}" class="u_sing_fill"></div>
						</div>
						<div class="c_contact_form_right">
							<div class="c_form_grd"><textarea cols="" required="required" id="message" name="message" rows="5" class="u_textarea" placeholder="{{ con_YourMessage }}"></textarea></div>
							<div class="c_form_grd mrgn_t10"><input type="submit" name="sendemail" id="sendemail" value="{{ con_Send }}" class="u_send_btn"></div>
					  </div>
					</div>
				</form>
            </div>
        </div>
      </div>
    </div>


