		ssssssssssssss<div class="l_map_area">
			<div class="l_map_dropdown_bg">
				<div class="map_dropdown left">
				<select class="" name="continent_uid" id="continent_uid">
				    <option value="0" selected="selected">Continent</option>
				    {{ continent_list }}
				</select>
			    </div>
			    <div class="map_dropdown right mrgn_t10">
				<select class="" name="country_uid" id="country_uid">
				    <option value="0" selected="selected">Country</option>
				</select>
			    </div>
			</div>
			<input type="hidden" id="uri" value="{{ uri }}"/>
			<input type="hidden" id="webpage" value="{{ webpage }}" />
			<input type="hidden" id="active_uid" />
			<div id="mapdiv"></div>
			<div class="l_cntr_cir" id="l_cntr_cir" style="display:none;">
				<img src="{{ uri }}assets/images/cont_cir_bg.png" />
				<div class="c_cont_name">{{ con_SelectedArea }}:</div>
				<h3 class="c_cont_name_map"></h3>
				<div class="c_down_arrow"><img src="{{ uri }}assets/images/down_arrow.png" /></div>
			</div>
		</div>
		
    
    
    <div class="l_mid_del">
      <div class="c_wrap" id="homepageC_wrap">
        <div class="l_main_tb">
          <div id="horizontalTab">
            <ul class="resp-tabs-list">
              <li id="lang_mostpopular">{{ con_Mostpopular }}</li>
              <li id="lang_mostrecent">{{ con_Mostrecent }}</li>
            </ul>
            <div class="resp-tabs-container">
              <div class="mostrecentClass">
                <div class="l_box_main l_box_main_mostrecent">
			
		</div>
                <div class="l_view_more">
                  <div class="c_more_btn">
                    <p>View more</p>
                    <div class="view_more"><img src="{{ uri }}assets/images/more_icon.png" /></div>
                  </div>
				  <div class="c_less_btn">
                    <p>Show Less</p>
                    <div class="show_less"><img src="{{ uri }}assets/images/up_arrow.png" /></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="resp-tabs-container">
              <div class="mostpopularClass">
                <div class="l_box_main l_box_main_mostpopular">
			
		</div>
				<div class="l_view_more">
                  <div class="c_more_btn">
                    <p>View more</p>
                    <div class=""><a href="#"><img src="{{ uri }}assets/images/more_icon.png" /></a></div>
                  </div>
				  <div class="c_less_btn">
                    <p>Show Less</p>
                    <div class="show_less"><img src="{{ uri }}assets/images/up_arrow.png" /></div>
                  </div>
                </div>
			  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  


