<div class="l_partner_box">
	<div class="c_partner_head">{{ partner_name }}</div>
	<div class="c_partner_logo"><img src="{{ uri }}timthumb.php?src={{ uri }}uploads/partner/{{ partner_image }}&h=187&w=187&zc=0&q=100" class="round_img_partner"/></div>
	<div class="c_partner_det"><p><span>{{ partner_name }}</span> {{ partner_description }}</p></div>
	<div class="c_partner_btn_box left mrgn_t10">
	<table width="100%" border="0">
	<tr>
		<td align="center" valign="middle"><a href="{{ partner_url }}" target="_blank" class="u_visit_partner_page">{{ con_VISITHOMEPAGE }}</a></td>
	</tr>
	</table>
	</div>
</div>
