
    <div class="l_mid_without_map">
      <div class="c_wrap">
        <div class="l_main_wd_add_main">
			<div class="c_add_wishdom">
            	<h1>Partners</h1>
                  <div class="comman_width left">
					  {{ partner }}
                  </div>
            </div>
        </div>
      </div>
    </div>
