
    <div class="l_mid_without_map">
      <div class="c_wrap">
        <div class="l_main_tb">
        	<div class="l_term_main">
                <div class="c_add_wishdom">
                    <h1 id="lang_privacy">{{ con_PrivacyPolicy }}</h1>
		    <input type="hidden" id="webpage" value="{{ webpage }}" />
                    
                    <div class="c_term_cont mrgn_t20">
                        <p style="text-align:justify;" id="lang_policy_description">{{ paggedata }}</p>
                    </div>
                </div>
            </div>
            <div class="l_view_more">
            	<div class="l_view_more_abs">
              		<div class="c_down_btn"><a href="#"><img src="{{ uri }}assets/images/more_icon.png"></a></div>
              		<div class="c_up_btn"><a href="#"><img src="{{ uri }}assets/images/up_arrow.png"></a></div>
              	</div>
            </div>
        </div>
      </div>
    </div>
  
