<div class="span9" id="content">	
    <div class="row-fluid">
        <!-- block -->
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">School District</div>
                <div class="pull-right"><span class="badge badge-info"></span>

                </div>
            </div>
            <div class="block-content collapse in">
                <div class="span12">
                    <div class="table-toolbar">
                        <div class="btn-group">
                            <a href="{{ uri }}admin/area/add/">
                                <button class="btn btn-success">Add New <i class="icon-plus icon-white"></i></button>
                            </a>
                           
                        </div>
                         <span style="color:red; float: right;">{{ error }} {{ successmsg }} {{ editsuccess }}</span>
                    </div>
                    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>

                            {{ userTableData }}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /block -->
    </div>
</div>
