<div class="span9" id="content">	
	<div class="row-fluid">
                        <!-- block -->
                        <div class="block">
                            <div class="navbar navbar-inner block-header">
                                <div class="muted pull-left">Edit School District</div>
                            </div>
                            <div class="block-content collapse in">
                                <div class="span12">
									
                                    <form class="form-horizontal" method="POST">
                                      <fieldset>
                                          <input type="hidden" name="edit_id" value="{{ uid }}"/>
                                        
                                            <div class="control-group">
                                          <label class="control-label" for="typeahead">Name: </label>
                                          <div class="controls">
                                            <input type="text" class="span6" name="name" id="typeahead" value="{{ name }}" required="required">
                                          </div>
                                        </div>
					
                                        <div class="form-actions">
					<button type="submit" name="updatearea" class="btn btn-primary">Update Area</button>
                                          <a href="{{ uri }}admin/area/view" class="btn">Cancel</a>
                                        </div>
                                      </fieldset>
                                    </form>
                                    <span style="color:red;">{{ error_message }}</span>                                      
                                </div>
                            </div>
                        </div>
                        <!-- /block -->
                    </div>
</div>