<div class="span9" id="content">	
	<div class="row-fluid">
                        <!-- block -->
                        <div class="block">
                            <div class="navbar navbar-inner block-header">
                                <div class="muted pull-left">Change password</div>
                            </div>
                            <div class="block-content collapse in">
                                <div class="span12">
                                    <form class="form-horizontal" action="{{ uri }}admin/changepassword" method="post">
                                      <fieldset>
                                        
                                        <div class="control-group">
                                            <input type="hidden" id="uri" name="id"/>
                                          <label class="control-label" for="typeahead">Old password </label>
                                          <div class="controls">
											  <input type="password" class="span6" name="opass" id="oldpass" required="required">
                                          </div>
                                        </div>
										<div class="control-group">
                                          <label class="control-label" for="typeahead">New password </label>
                                          <div class="controls">
											  <input type="password" class="span6" name="npass" id="newpass" required="required">
                                          </div>
                                        </div>
										<div class="control-group">
                                          <label class="control-label" for="typeahead">Confirm password </label>
                                          <div class="controls">
											  <input type="password" class="span6" name="cpass" id="cpass" required="required">
                                          </div>
                                        </div>
										
                                        <div class="form-actions">
                                          <button type="submit" name="changepass" class="btn btn-primary">Change password</button>
                                         <a href="{{ uri }}admin/register/userdetail" class="btn">Cancel</a>      
                                          
                                        </div>
                                      </fieldset>
                                    </form>
                                    <span style="color:red;">{{ error }}</span>
                                </div>
                            </div>
                        </div>
                        <!-- /block -->
                    </div>
</div>