<div class="span9" id="content">	
    <div class="row-fluid">
        <!-- block -->
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">Edit user</div>
            </div>
            <div class="block-content collapse in">
                <div class="span12">

                    <form class="form-horizontal" method="POST" action="{{ uri }}admin/register/edit/{{ uid }}" id="registeradd">
                        <fieldset class="step1">
                            <input type="hidden" name="edit_id" value="{{ uid }}"/>

                            <div class="control-group">
                                <label class="control-label" for="typeahead">Name: </label>
                                <div class="controls">
                                    <input type="textbox" class="span6" name="name" id="name" value="{{ name }}" />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="typeahead">Email: </label>
                                <div class="controls">
                                    <input type="email" class="span6" name="email" id="email" value="{{ emailid }}" />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="typeahead">Password: </label>
                                <div class="controls">
                                    <input type="password" class="span6" name="password" id="password" value="{{ password }}" />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="typeahead">Confirm Password:</label>
                                <div class="controls">
                                    <input type="password" class="span6" name="cpassword" id="cpassword" value="{{ password }}">
                                </div>
                            </div>
                            <div class="form-actions" >
                                <button  type="button" name="next" class="btn btn-primary" id="next1">Next</button>
                                <a href="{{ uri }}admin/register/userdetail" class="btn">Cancel</a>                                         
                            </div>
                        </fieldset>
                         <fieldset class="step2">

                           <div class="control-group">
                                <label class="control-label" for="typeahead">Permission: </label>
                                <div class="controls">
                                   <!-- <input type="radio" class="" name="permission" value="Read App" {{ readApp }}>&nbsp&nbsp&nbsp   Read App
                                    <br><input type="radio" class="" name="permission" value="Write App" {{ writeApp }}>&nbsp&nbsp&nbsp   Write App
                                    <br><input type="radio" class="" name="permission" value="Read Web" {{ readWeb }}>&nbsp&nbsp&nbsp   Read Web
                                    <br><input type="radio" class="" name="permission" value="Write Web" {{ writeWeb }}>&nbsp&nbsp&nbsp   Write Web 
                                    <br><input type="radio" class="" name="permission" value="Read Web Read App" {{ readwebreadapp }}>&nbsp&nbsp&nbsp   Read Web Read App
                                    <br><input type="radio" class="" name="permission" value="Read Web Write App" {{ readwebwriteapp }}>&nbsp&nbsp&nbsp   Read Web Write App
                                    <br><input type="radio" class="" name="permission" value="Write Web Read App" {{ writewebreadapp }}>&nbsp&nbsp&nbsp   Write Web Read App
                                    <br><input type="radio" class="" name="permission" value="Write Web Write App"{{ writeWebApp }}>&nbsp&nbsp&nbsp   Write Web Write App --> {{ permission }}
                                </div>
                            </div>
                            <div class="form-actions" >
                                <button  type="button" name="next" class="btn btn-primary" id="previous1">Previous</button>
                                <button  type="button" name="next" class="btn btn-primary" id="next2">Next</button>
                            </div>
                        </fieldset>
                        <fieldset class="step3">
                            <div class="control-group">
                                <label class="control-label" for="typeahead">School District </label>
                                <div class="controls">
                                    <select name="area[]" id="area" multiple="multiple">
                                       <!-- <option value="0">Select School District</option>-->
                                        {{ area }}
                                    </select>
                                </div>
                            </div>
                            <div class="form-actions" >
                                <button  type="button" name="signup" class="btn btn-primary" id="previous2">Previous</button>  
                                <button  type="button" name="signup" class="btn btn-primary" id="signup">Update User</button>
                                <a href="{{ uri }}admin/register/userdetail" class="btn">Cancel</a>                                         
                            </div>
                        </fieldset>
                    </form>
                    <span style="color:red;">{{ error_message }}</span>                                      
                </div>
            </div>
        </div>
        <!-- /block -->
    </div>
</div>