<div class="span9" id="content">	
	<div class="row-fluid">
                        <!-- block -->
                        <div class="block">
                            <div class="navbar navbar-inner block-header">
                                <div class="muted pull-left">Edit Language Content</div>
                            </div>
                            <div class="block-content collapse in">
                                <div class="span12">
									{{ error_message }}
                                    <form class="form-horizontal" method="POST" action="" enctype="multipart/form-data">
                                      <fieldset>
										  <input type="hidden" name="uid" value="{{ uid }}"/>
					<input type="hidden" name="keyword" value="{{ editKeyword }}"/>
                                        <!--<div class="control-group">
                                          <label class="control-label" for="typeahead" >Name </label>
                                          <div class="controls">
											  <input type="text" class="span6" name="name" id="typeahead" value="{{ name }}" required="required">
                                          </div>
                                        </div>-->
										{{ languagetableformate }}
                                        <div class="form-actions">
											<button type="submit" name="editlanguagecontent" class="btn btn-primary">Edit Language Content</button>
                                          <a href="{{ uri }}admin/languagecontent/" class="btn">Cancel</a>
                                        </div>
                                      </fieldset>
                                    </form>

                                </div>
                            </div>
                        </div>
                        <!-- /block -->
                    </div>
</div>
