<div class="span9" id="content">
	<div class="row-fluid">
                        <!-- block -->
                        <div class="block">
                            <div class="navbar navbar-inner block-header">
                                <div class="muted pull-left">Edit Language</div>
                            </div>
                            <div class="block-content collapse in">
                                <div class="span12">
                                    <form class="form-horizontal" method="post" action="" enctype="multipart/form-data">
                                      <fieldset>
										  <input type="hidden" name="language_uid" id="language_uid" value="{{ uid }}">
										  
												  
                                        <div class="control-group">
                                          <label class="control-label" for="typeahead">Language shortForm </label>
                                          <div class="controls">
											  <input type="text" class="span6" name="lan_short" id="name" required="required" value="{{ language_code }}">
                                          </div>
                                        </div>
										<div class="control-group">
                                          <label class="control-label" for="typedis">Language Name</label>
                                         <div class="controls">
											 <input type="text" class="span6" name="lang" id="lang" required="required" value="{{ language_name }}">
                                          </div>
                                        </div>
                                        
										
                                        <div class="control-group">
                                          <label class="control-label" for="Select">Status</label>
                                          <div class="controls">
											  <select id="statusselect" name="status" class="">
												<option value="1" {{ is_active }}>Active</option><option value="0"  {{ inactive }}>In Active</option>
                                            </select>
                                          </div>
											
                                        </div>
                                        <div class="form-actions">
                                          <button type="submit" class="btn btn-primary">Update Language</button>
                                          <a href="{{ uri }}admin/language/" class="btn">Cancel</a>
                                        </div>
                                      </fieldset>
                                    </form>

                                </div>
                            </div>
                        </div>
                        <!-- /block -->
                    </div>
</div>