<div class="span9" id="content">
	<div class="row-fluid">
                        <!-- block -->
                        <div class="block">
                            <div class="navbar navbar-inner block-header">
                                <div class="muted pull-left">Edit Partner</div>
                            </div>
                            <div class="block-content collapse in">
                                <div class="span12">
                                    <form class="form-horizontal" method="post" action="" enctype="multipart/form-data">
                                      <fieldset>
										  <input type="hidden" name="partner_uid" id="partner_uid" value="{{ uid }}">
										  <input type="hidden" name="image_name" id="image_name" value="{{ image_name }}">
												  
                                        <div class="control-group">
                                          <label class="control-label" for="typeahead">Partner Name </label>
                                          <div class="controls">
											  <input type="text" class="span6" name="name" id="name" required="required" value="{{ partner_name }}">
                                          </div>
                                        </div>
										<div class="control-group">
                                          <label class="control-label" for="typedis">Partner Description</label>
                                         <div class="controls">
											 <textarea class="input-xlarge textarea" required="required"  name="partner_dis" placeholder="Enter text ..." style="width: 96%; height: 200px">{{ partner_description }}</textarea>
                                          </div>
                                        </div>
                                        <div class="control-group">
                                          <label class="control-label" for="fileInput">Partner Image</label>
                                          <div class="controls">
											   <input  class="input-file uniform_on" name="partner_image" id="partnereditimg" type="file"> *Image size must be 187 X 187 
                                          </div>
										  <div class="controls">
											  <img id="uip1" width="190" height="100" src="{{ partner_image }}"/>
										  </div>
                                        </div>
										<div class="control-group">
                                          <label class="control-label" for="typeahead">Partner URL </label>
                                          <div class="controls">
											  <input type="text" class="span6" name="partner_url" id="typeahead" required="required" value="{{ partner_url }}">
                                          </div>
										  
                                        </div>
                                        <div class="control-group">
                                          <label class="control-label" for="Select">Status</label>
                                          <div class="controls">
											  <select id="statusselect" name="status" class="">
												<option value="1" {{ is_active }}>Active</option><option value="0"  {{ inactive }}>In Active</option>
                                            </select>
                                          </div>
											
                                        </div>
                                        <div class="form-actions">
                                          <button type="submit" class="btn btn-primary">Update Partner</button>
                                          <a href="{{ uri }}admin/partner/" class="btn">Cancel</a>
                                        </div>
                                      </fieldset>
                                    </form>

                                </div>
                            </div>
                        </div>
                        <!-- /block -->
                    </div>
</div>
