<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>{{ meta_title }}</title>
            <!-- Bootstrap -->
            <link href="{{ uri }}assets/css/admin/bootstrap.min.css" rel="stylesheet" media="screen">
                <link href="{{ uri }}assets/css/admin/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
                    <link href="{{ uri }}assets/css/admin/styles.css" rel="stylesheet" media="screen">
                        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
                        <!--[if lt IE 9]>-->
                        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
                        <!--<![endif]-->
                        <script src="{{ uri }}assets/js/admin/modernizr-2.6.2-respond-1.1.0.min.js"></script>
                        </head>

                        <div class="span9" id="content">

                            <div class="row-fluid">
                                <!--<div class="span6">-->
                                <!-- block -->
                                <div class="block">
                                    <div class="navbar navbar-inner block-header">
                                        <div class="muted pull-left">Registration</div>                                   
                                    </div>
                                    <div class="block-content collapse in" align="left">
                                        <div class="span12">
                                            <form class="form-horizontal" autocomplete="off" action="{{ uri }}admin/register/add" method="POST" id="registeradd">
                                                <!-- <h2 class="form-signin-heading">Please sign up</h2>-->
                                                <fieldset class="step1">
                                                    <input type="hidden" id="uri" name="id"/>
                                                    
                                                    <div class="control-group">

                                                        <label class="control-label" for="typeahead">Name: </label>
                                                        <div class="controls">
                                                            <input type="textbox" class="span6" name="name" id="name" required="required" />
                                                        </div>
                                                    </div>
                                                    <div class="control-group">

                                                        <label class="control-label" for="typeahead">Email Id: </label>
                                                        <div class="controls">
                                                            <input type="textbox" class="span6" name="email" id="email" required="required" />
                                                        </div>
                                                    </div>
                                                    <div class="control-group">
                                                        <label class="control-label" for="typeahead">Password: </label>
                                                        <div class="controls">
                                                            <input type="password" class="span6" name="password" id="password" required="required">
                                                        </div>
                                                    </div>
                                                    <div class="control-group">
                                                        <label class="control-label" for="typeahead">Confirm Password:</label>
                                                        <div class="controls">
                                                            <input type="password" class="span6" name="cpassword" id="cpassword" required="required">
                                                        </div>
                                                    </div>
                                                    <div class="form-actions" >
                                                        <button  type="button" name="next" class="btn btn-primary" id="next1">Next</button>
                                                        <a href="{{ uri }}admin/register/userdetail" class="btn">Cancel</a>                                         
                                                    </div>
                                                </fieldset>
      <fieldset class="step2">

      <div class="control-group">
     <label class="control-label" for="typeahead" align="left">Permission: </label>
     <div class="controls">
                                                               <!--<input type="radio" class="" name="permission" value="Read App" >&nbsp&nbsp&nbsp  Read App
                                                                <br><input type="radio" class="" name="permission" value="Write App">&nbsp&nbsp&nbsp   Write App
                                                                <br><input type="radio" class="" name="permission" value="Read Web">&nbsp&nbsp&nbsp   Read Web
                                                                <br><input type="radio" class="" name="permission" value="Write Web">&nbsp&nbsp&nbsp   Write Web   
                                                                <br><input type="radio" class="" name="permission" value="Read Web Read App">&nbsp&nbsp&nbsp   Read Web Read App
                                                                <br><input type="radio" class="" name="permission" value="Read Web Write App">&nbsp&nbsp&nbsp  Read Web Write App
                                                                <br><input type="radio" class="" name="permission" value="Write Web Read App">&nbsp&nbsp&nbsp   Write Web Read App
                                                                <br><input type="radio" class="" name="permission" value="Write Web Write App">&nbsp&nbsp&nbsp   Write Web Write App  -->{{ permission }}
                                                        </div>
                                                    </div>
  <div class="form-actions" >
       <button  type="button" name="next" class="btn btn-primary" id="previous1">Previous</button>
       <button  type="button" name="next" class="btn btn-primary" id="next2">Next</button>
  </div>
  </fieldset>
                                                <fieldset class="step3">
                                                <div class="control-group">
                                                        <label class="control-label" for="typeahead">School District:</label>
                                                        <div class="controls">
                                                            <select name="area[]" id="area" multiple="multiple">
                                                                <!--<option value="0" selected='selected'>Select School District</option>-->
                                                                {{ area }}
                                                            </select>
                                                        </div>
                                                    </div>
                                                     <div class="form-actions" >
                                                        <button  type="button" name="signup" class="btn btn-primary" id="previous2">Previous</button>      
                                                        <button  type="button" name="signup" class="btn btn-primary" id="signup">Add</button>
                                                        <a href="{{ uri }}admin/register/userdetail" class="btn">Cancel</a>                                         
                                                    </div>
                                                    </fieldset>
                                            </form>
                                        </div>
                                        <!--                                        <form>
                                                                 <table>
                                                                        <tr>
                                                                            <td>EmailId:</td>
                                                                            <td><input type="email" name="email"  class="input-block-level" required="required"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Password:</td>
                                                                            <td><input type="password" name="password" class="input-block-level" required="required" ></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Confirm Password:</td>
                                                                            <td> <input type="password" name="cpassword" class="input-block-level" required="required"></td>
                                                                        </tr>
                                                                     
                                                                        <tr>
                                                                            <td colspan="2" align="center"><button style="position:relative" name="signup" type="submit" class="btn btn-primary">Add</button>
                                                                             <a href="{{ uri }}admin/register/userdetail" class="btn">Cancel</a></td>
                                                                        </tr>
                                                                    
                                                                </table>
                                                                </form>-->
                                    </div>
                                    <span style="color:red;">  {{ error }}</span>   
                                </div> <!-- /container -->
                                <script src="{{ uri }}assets/js/admin/jquery-1.9.1.min.js"></script>
                                <script src="{{ uri }}assets/js/admin/bootstrap.min.js"></script>
                                </body>
                            </div>
                        </div>                          
                        </div>

                        <div class="block-content collapse in">
                            <div class="row-fluid padd-bottom">


                            </div>
                        </div>
                        </div>
                        </div>

                        <link href="{{ uri }}assets/css/admin/datepicker.css" rel="stylesheet" media="screen">
                            <link href="{{ uri }}assets/css/admin/uniform.default.css" rel="stylesheet" media="screen">
                                <link href="{{ uri }}assets/css/admin/chosen.min.css" rel="stylesheet" media="screen">

                                    <link href="{{ uri }}assets/css/admin/bootstrap-wysihtml5.css" rel="stylesheet" media="screen">

                                        <script src="{{ uri }}assets/js/admin/jquery-1.9.1.min.js"></script>
                                        <script src="{{ uri }}assets/js/admin/bootstrap.min.js"></script>

                                        <script src="{{ uri }}assets/js/admin/jquery.dataTables.min.js"></script>
                                        <script src="{{ uri }}assets/js/admin/wysihtml5-0.3.0.js"></script>
                                        <script src="{{ uri }}assets/js/admin/bootstrap-wysihtml5.js"></script>
                                        <script src="{{ uri }}assets/js/admin/jquery.uniform.min.js"></script>
                                        <script src="{{ uri }}assets/js/admin/chosen.jquery.min.js"></script>
                                        <script src="{{ uri }}assets/js/admin/bootstrap-datepicker.js"></script>
                                        <script src="{{ uri }}assets/js/admin/jquery.bootstrap.wizard.min.js"></script>
                                        <script src="{{ uri }}assets/js/admin/jquery.validate.min.js" type="text/javascript" ></script>
                                        <script src="{{ uri }}assets/js/admin/form-validation.js"></script>
                                        <script src="{{ uri }}assets/js/admin/DT_bootstrap.js"></script>
                                        <script src="{{ uri }}assets/js/admin/scripts.js"></script>


                                        <script>
$(function() {
    $('.textarea').wysihtml5();
    $(".datepicker").datepicker();
    $(".uniform_on").uniform();
    $(".chzn-select").chosen();
    $('#rootwizard').bootstrapWizard({onTabShow: function(tab, navigation, index) {
            var $total = navigation.find('li').length;
            var $current = index + 1;
            var $percent = ($current / $total) * 100;
            $('#rootwizard').find('.bar').css({width: $percent + '%'});
            // If it's the last tab then hide the last button and show the finish instead
            if ($current >= $total) {
                $('#rootwizard').find('.pager .next').hide();
                $('#rootwizard').find('.pager .finish').show();
                $('#rootwizard').find('.pager .finish').removeClass('disabled');
            } else {
                $('#rootwizard').find('.pager .next').show();
                $('#rootwizard').find('.pager .finish').hide();
            }
        }});
    $('#rootwizard .finish').click(function() {
        alert('Finished!, Starting over!');
        $('#rootwizard').find("a[href*='tab1']").trigger('click');
    });


});
                                        </script>