<style>
    @charset "utf-8";
    *{
        padding:0px;
        margin:0px;
        list-style-type:none;	
    }
    body{
        /*font-family: Arial, Helvetica, sans-serif;*/
        font-size: 13px;
    }
    .main_inv {
        float: left;
        width: 100%;
    }
    .wrap{
        width:700px;
        margin:0 auto;	
    }
    .labelValue {
        border:dotted 1.5px #000000; padding:3px; width:220px; 
        background:#F1F1F1;
        text-transform:uppercase;
    }
    .maintitle {
       font-weight:bold;
       font-size:25px;
       /*font-family: Arial, Helvetica, sans-serif;*/
    }
    .subtitle {
       font-weight:bold;
       font-size:18px;
       /*font-family: Arial, Helvetica, sans-serif;*/
    }
    .tablemain tr td {
/*       line-height:35px;*/
       
       
       /*font-family: Arial, Helvetica, sans-serif;*/
    }
    .tablemain {
       width:100%;
       /*font-family: Arial, Helvetica, sans-serif;*/
    }
    .tdanswer {
       width:100px;
         word-wrap: break-word;
         text-align:right;
       /*font-family: Arial, Helvetica, sans-serif;*/
    }
    .tdque {
       width:430px;
/*       text-align:justify;*/
      
         
       /*font-family: Arial, Helvetica, sans-serif;*/
    }
    .tdqueno {
       width:15px;
     
    }
    .padding {
       padding-left:25px;
       padding-bottom:5px;
       padding-top:5px;
     
    }
    <!--
    table.page_header {width: 100%;  padding: 2mm }
    table.page_footer {width: 100%;  padding: 2mm}
-->
</style>
<page backtop="15mm" backbottom="15mm" backleft="2mm" backright="2mm" pagegroup="new">
    <page_header>
        <table class="page_header">
            <tr>
                <td style="width: 100%; text-align: right">
                    Page [[page_cu]] of [[page_nb]]
                </td>
            </tr>
        </table>
    </page_header>
    <div style="margin-bottom:25px;">
    <img src="{{ uri }}assets/images/CPL_full_Logo.jpg"  width="600"/>
    </div>
    <div class="main_inv">
        <div class="wrap">
<!--            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td>
                        <b>From:</b>  
                    </td>
                     <td>
                       webadmin@mail.nysed.gov  
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Sent:</b>  
                    </td>
                     <td>
                       Wednesday, January 05, 2011 11:45 AM  
                    </td>
                </tr> 
                <tr>
                    <td>
                        <b>To:</b>  
                    </td>
                     <td>
                      cpeterson@habiterra.com  
                    </td>
                </tr> 
                <tr>
                    <td>
                        <b>Subject:</b>  
                    </td>
                     <td>
                      Your Westfield CSD Mail Building BCS data have been submitted  
                    </td>
                </tr>
            </table>-->
<!--            <br/>
            <br/>
            <table  border="0" cellspacing="0" cellpadding="0">
                <tr><td>
                        <b class="maintitle">
                            Your data has been submitted to NYSED. Thank you.</b>
                    </td></tr>
            </table>-->
            <br/>
            <br/>
            <table  border="0" cellspacing="0" cellpadding="0">
                <tr><td><b class="subtitle">Introduction-District Information</b></td></tr>
            </table>
            <br/>
            <br/>
            <table  class="tablemain" border="0" cellspacing="0" cellpadding="0">
                {{ userTableData }}
            </table>
        </div>
    </div>
    
</page>