<div class="span9" id="content">	
    <div class="row-fluid">
        <!-- block -->
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">Survey List</div>
                <a style="float:right;" class="btn btn-primary" target="_blank" href="{{ uri }}admin/buildingsurvey/exportPdfSurvey/?userId={{ id }}&survey={{ survey }}">Export Pdf</a>
               </div>
            <div class="block-content collapse in">
                <div class="span12">
                    <div class="table-toolbar">
                     <span style="color:red; float: right;">{{ error }} {{ successmsg }} {{ editsuccess }}</span>
                    </div>
                    <form method="post">
                    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Index</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td><a href="{{ uri }}admin/buildingsurvey/Viewsurvey/?id={{ id }}&survey={{ survey }}&start=0&end=10">Introduction</a></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td><a href="{{ uri }}admin/buildingsurvey/Viewsurvey/?id={{ id }}&survey={{ survey }}&start=11&end=25">Chapter 1 – Building Information</a></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td><a href="{{ uri }}admin/buildingsurvey/Viewsurvey/?id={{ id }}&survey={{ survey }}&start=26&end=43">Chapter 2 – Building Site & Utilities</a></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td><a href="{{ uri }}admin/buildingsurvey/Viewsurvey/?id={{ id }}&survey={{ survey }}&start=44&end=59">Chapter 3 – Building Interior</a></td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td><a href="{{ uri }}admin/buildingsurvey/Viewsurvey/?id={{ id }}&survey={{ survey }}&start=60&end=69">Chapter 4 – Building Envelope</a></td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td><a href="{{ uri }}admin/buildingsurvey/Viewsurvey/?id={{ id }}&survey={{ survey }}&start=70&end=81">Chapter 5 – Plumbing & Mechanical Systems</a></td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td><a href="{{ uri }}admin/buildingsurvey/Viewsurvey/?id={{ id }}&survey={{ survey }}&start=82&end=86">Chapter 6 – Life Safety Systems</a></td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td><a href="{{ uri }}admin/buildingsurvey/Viewsurvey/?id={{ id }}&survey={{ survey }}&start=87&end=96">Chapter 7 – Accessibility & Environment</a></td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td><a href="{{ uri }}admin/buildingsurvey/Viewsurvey/?id={{ id }}&survey={{ survey }}&start=97&end=103">Chapter 8 – Indoor Air Quality</a></td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td><a href="{{ uri }}admin/buildingsurvey/Viewsurvey/?id={{ id }}&survey={{ survey }}&start=104&end=108">Chapter 9 – Space Adequacy</a></td>
                            </tr>
                            <tr>
                                <td>11</td>
                                <td><a href="{{ uri }}admin/buildingsurvey/Viewsurvey/?id={{ id }}&survey={{ survey }}&start=109&end=115">Chapter 10 – Surveyor Information</a></td>
                            </tr>
                                
                        </tbody>
                    </table>
                    </form>
                </div>
            </div>
        </div>
        <!-- /block -->
    </div>
</div>
<style>
    #example_filter
    {
        display: none;
    }
    .dataTables_length
    {
        display:none;
    }
    .pagination
    {
        display:none;
    }
  
    
</style>

