<div class="span9" id="content">	
    <div class="row-fluid">
        <!-- block -->
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">Survey List</div>
                <a style="float:right;" class="btn btn-primary" target="_blank" href="{{ uri }}admin/buildingsurvey/exportPdfSurvey/?userId={{ id }}&survey={{ survey }}">Export Pdf</a>
               </div>
            <div class="block-content collapse in">
                <div class="span12">
                    <div class="table-toolbar">
                     <span style="color:red; float: right;">{{ error }} {{ successmsg }} {{ editsuccess }}</span>
                    </div>
                    <form method="post">
                    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Index</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td><a href="{{ uri }}admin/buildingsurvey/Viewsurvey/?id={{ id }}&survey={{ survey }}&start=0&end=10">Introduction-District Information</a></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td><a href="{{ uri }}admin/buildingsurvey/Viewsurvey/?id={{ id }}&survey={{ survey }}&start=11&end=26">Chapter 1 – Building Information</a></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td><a href="{{ uri }}admin/buildingsurvey/Viewsurvey/?id={{ id }}&survey={{ survey }}&start=27&end=30">Chapter 2 – Space Adequacy</a></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td><a href="{{ uri }}admin/buildingsurvey/Viewsurvey/?id={{ id }}&survey={{ survey }}&start=31&end=36">Chapter 3 – Surveyor Information</a></td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td><a href="{{ uri }}admin/buildingsurvey/Viewsurvey/?id={{ id }}&survey={{ survey }}&start=37&end=52">Chapter 4 – Site Utilities</a></td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td><a href="{{ uri }}admin/buildingsurvey/Viewsurvey/?id={{ id }}&survey={{ survey }}&start=53&end=58">Chapter 5 – Other Site Features</a></td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td><a href="{{ uri }}admin/buildingsurvey/Viewsurvey/?id={{ id }}&survey={{ survey }}&start=59&end=59">Chapter 6 – Substructure</a></td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td><a href="{{ uri }}admin/buildingsurvey/Viewsurvey/?id={{ id }}&survey={{ survey }}&start=60&end=68">Chapter 7 – Building Envelope</a></td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td><a href="{{ uri }}admin/buildingsurvey/Viewsurvey/?id={{ id }}&survey={{ survey }}&start=69&end=83">Chapter 8 – Interior Spaces</a></td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td><a href="{{ uri }}admin/buildingsurvey/Viewsurvey/?id={{ id }}&survey={{ survey }}&start=84&end=87">Chapter 9 – Plumbing (Excluding HVAC Systems)</a></td>
                            </tr>
                            <tr>
                                <td>11</td>
                                <td><a href="{{ uri }}admin/buildingsurvey/Viewsurvey/?id={{ id }}&survey={{ survey }}&start=88&end=95">Chapter 10 – HVAC Systems</a></td>
                            </tr>
                             <tr>
                                <td>12</td>
                                <td><a href="{{ uri }}admin/buildingsurvey/Viewsurvey/?id={{ id }}&survey={{ survey }}&start=96&end=100">Chapter 11 – Fire Safety Systems</a></td>
                            </tr>
                             <tr>
                                <td>13</td>
                                <td><a href="{{ uri }}admin/buildingsurvey/Viewsurvey/?id={{ id }}&survey={{ survey }}&start=101&end=103">Chapter 12 – Accessibility</a></td>
                            </tr>
                             <tr>
                                <td>14</td>
                                <td><a href="{{ uri }}admin/buildingsurvey/Viewsurvey/?id={{ id }}&survey={{ survey }}&start=104&end=109">Chapter 13 – Environment/Comfort/Health</a></td>
                            </tr>
                                 <tr>
                                <td>15</td>
                                <td><a href="{{ uri }}admin/buildingsurvey/Viewsurvey/?id={{ id }}&survey={{ survey }}&start=110&end=116">Chapter 14 – Indoor Air Quality</a></td>
                            </tr>
                        </tbody>
                    </table>
                    </form>
                </div>
            </div>
        </div>
        <!-- /block -->
    </div>
</div>
<style>
    #example_filter
    {
        display: none;
    }
    .dataTables_length
    {
        display:none;
    }
    .pagination
    {
        display:none;
    }
  
    
</style>

