<div class="span9" id="content">	
    <div class="row-fluid">
        <!-- block -->
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">Survey List</div>
            </div>
            <div class="block-content collapse in">
                <div class="span12">
                    <div class="table-toolbar">
                         <div class="row">
                                <form action="" method="get" style="float: right;">
                                   Search: <select name="date" id="SearchDate">
                                        <option value="">Select Date</option>
                                        <option value="{{ yesterday }}" {{ yesterdaySelected }}>Yesterday</option>
                                        <option value="{{ lastweek }}" {{ lastweekSelected }}>Last Week</option>
                                        <option value="{{ lastmonth }}" {{ lastmonthSelected }}>Last Month</option>
                                        <option value="{{ last6month }}" {{ last6monthSelected }}>Last 6 Month</option>
                                        <option value="Custom Date" id="customDate">Custom Date</option>
                                    </select>
                                    <input type="text" id="startDateDiv" name="" value="" style="display: none"/>
                                    <input type="text" id="endDateDiv" name="" value="" style="display: none"/>

                                    <button type="submit" class="btn btn-primary" id="signup">submit</button>

                            </div>
                        <div class="dataTables_wrapper form-inline" role="grid">
                            <div class="btn-group">
                            </div>
                            </form>
                            <span style="color:red; float: right;">{{ error }} {{ successmsg }} {{ editsuccess }}</span>
                        </div>
                        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Building Survey Title</th>
                                    <th>Created Date</th>
                                    <th>Last Updated By</th>
                                    <th>Last Updated Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>

                                {{ userTableData }}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /block -->
        </div>
    </div>