<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Register</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h3>Registration</h3>
        {{ error }}
        <form method="post">
            <table>
                <tr>
                    <td>EmailId:</td>
                    <td><input type="text" name="email" required="required"></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="password" name="pass" required="required"></td>
                </tr>
                <tr>
                
                    <td>Confirm Password:</td>
                    <td><input type="password" name="cpass" required="required"></td>
                </tr>
                <tr>
                    <td><input type="submit" name="submit" value="signup"></td>
                    
                </tr>
            </table>
        </form>
                
    </body>
</html>
