<div class="l_mid_without_map">
      <div class="c_wrap">
        <div class="l_main_tb">
        	<div class="l_term_main">
                <div class="c_add_wishdom">
                    <h1>{{ con_ThankYou }}</h1>
                    <h4 class="mrgn_t20">{{ con_thankyou_reg_desc }}</h4>
                    <div class="c_term_cont mrgn_t20">
                        <p><a href="{{ uri }}home/">{{ cron_reg_clickhere }}</a></p>
                    </div>
                </div>
            </div>
            
        </div>
      </div>
    </div>
