<div class="span9" id="content">	
	<div class="row-fluid">
                        <!-- block -->
                        <div class="block">
                            <div class="navbar navbar-inner block-header">
                                <div class="muted pull-left">Add user</div>
                            </div>
                            <div class="block-content collapse in">
                                <div class="span12">
									{{ error_message }}
                                    <form class="form-horizontal" method="POST" action="" enctype="multipart/form-data" autocomplete="off">
                                      <fieldset>
                                        
                                        <div class="control-group">
                                          <label class="control-label" for="typeahead" >Name </label>
                                          <div class="controls">
											  <input type="text" class="span6" name="name" id="typeahead" value="{{ name }}" required="required">
                                          </div>
                                        </div>
										<div class="control-group">
                                          <label class="control-label" for="fileInput">Image 1</label>
                                          <div class="controls">
                                            <input class="input-file uniform_on" name="image_1" id="fileInput"  type="file">
                                          </div>
                                        </div>
										<div class="control-group">
                                          <label class="control-label" for="typeahead">Email </label>
                                          <div class="controls">
											  <input type="email" class="span6" name="email" id="typeahead" value="{{ email }}" required="required">
                                          </div>
                                        </div>
										<div class="control-group">
                                          <label class="control-label" for="typeahead">Password </label>
                                          <div class="controls">
											  <input type="password" class="span6" title="Password must contain at least 6 characters, including UPPER/lowercase and numbers" name="password" id="typeahead" value="{{ password }}" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" onchange=" this.setCustomValidity(this.validity.patternMismatch ? this.title : ''); if(this.checkValidity()) form.cpassword.pattern = this.value; ">
                                          </div>
                                        </div>
										<div class="control-group">
                                          <label class="control-label" for="typeahead">Confirm Password </label>
                                          <div class="controls">
											  <input type="password" class="span6" title="Please enter the same Password as above" name="cpassword" id="typeahead" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" value="{{ cpassword }}" required onchange=" this.setCustomValidity(this.validity.patternMismatch ? this.title : ''); ">
                                          </div>
                                        </div>
										<div class="control-group">
                                          <label class="control-label" for="select01">Country</label>
                                          <div class="controls">
                                            <select id="select01" name="country_uid" class="chzn-select">
												<option value="">Select Country</option>
                                              {{ country_list }}
                                            </select>
                                          </div>
                                        </div>
                                        <div class="form-actions">
											<button type="submit" name="adduser" class="btn btn-primary">Add user</button>
                                          <a href="{{ uri }}admin/user/" class="btn">Cancel</a>
                                        </div>
                                      </fieldset>
                                    </form>

                                </div>
                            </div>
                        </div>
                        <!-- /block -->
                    </div>
</div>