<div class="span9" id="content">	
	<div class="row-fluid">
                        <!-- block -->
                        <div class="block">
                            <div class="navbar navbar-inner block-header">
                                <div class="muted pull-left">Edit user</div>
                            </div>
                            <div class="block-content collapse in">
                                <div class="span12">
									{{ error_message }}
                                    <form class="form-horizontal" method="POST" action="" enctype="multipart/form-data">
                                      <fieldset>
										  <input type="hidden" name="uid" value="{{ uid }}"/>
                                        <div class="control-group">
                                          <label class="control-label" for="typeahead" >Name </label>
                                          <div class="controls">
											  <input type="text" class="span6" name="name" id="typeahead" value="{{ name }}" required="required">
                                          </div>
                                        </div>
										<div class="control-group">
                                          <label class="control-label" for="fileInput">Image 1</label>
                                          <div class="controls">
                                            <input class="input-file uniform_on" name="image_1" id="fileInputUserE1"  type="file">
                                          </div>
										  <div class="controls">
											  <img id="uip1" width="190" height="100" src="{{ image_1 }}"/>
										  </div>
                                        </div>
										<div class="control-group">
                                          <label class="control-label" for="typeahead">Email </label>
                                          <div class="controls">
											  <input type="email" class="span6" name="email" id="typeahead" value="{{ email }}" required="required">
                                          </div>
                                        </div>
										<div class="control-group">
                                          <label class="control-label" for="select01">Country</label>
                                          <div class="controls">
                                            <select id="select01" name="country_uid" class="chzn-select">
												<option value="">Select Country</option>
                                              {{ country_list }}
                                            </select>
                                          </div>
                                        </div>
                                        <div class="form-actions">
											<button type="submit" name="updateuser" class="btn btn-primary">Update user</button>
                                          <a href="{{ uri }}admin/user/" class="btn">Cancel</a>
                                        </div>
                                      </fieldset>
                                    </form>

                                </div>
                            </div>
                        </div>
                        <!-- /block -->
                    </div>
</div>