<div class="span9" id="content">	
    <div class="row-fluid">
        <!-- block -->
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">Survey List</div>
                <a style="float:right;" class="btn btn-primary" target="_blank" href="{{ uri }}admin/buildingsurvey/exportPdfSurvey/?userId={{ id }}&survey={{ survey }}">Export Pdf</a>
               </div>
            <div class="block-content collapse in">
                <div class="span12">
                    <div class="table-toolbar">
                     <span style="color:red; float: right;">{{ error }} {{ successmsg }} {{ editsuccess }}</span>
                    </div>
                    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Question</th>
                               <th>Action</th>
                               
                               
                            </tr>
                        </thead>
                        <tbody>

                            {{ userTableData }}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /block -->
    </div>
</div>
<style>
    #example_filter
    {
        display: none;
    }
</style>

