
    <div class="l_mid_without_map">
      <div class="c_wrap">
        <div class="l_main_wd_add_main">
			<div class="c_add_wishdom">
				<h1 id="lang_about">{{ con_AboutOmbeliko }}</h1>
				<input type="hidden" id="webpage" value="{{ webpage }}" />
                    <div class="l_user_top">
                        <div class="l_user_about">
                        <div class="c_user_about_img">
                        <div class="c_ws_img"><img class="round_img_light_bdr" src="{{ uri }}assets/images/ws_user_img2.jpg" /></div>
                        <div class="c_own_name">Dr. Michael Kronenberg
							<span class="clear_left c_designation" id="lang_founder">{{ con_FounderofOmbeliko }}</span>
                        </div>
                        </div>
                        <div class="c_user_about">
                        	<div class="c_user_dec_full">
                        <table width="100%" border="0">
                        <tr>
                        <td width="8%" align="left" valign="top"><img src="{{ uri }}assets/images/top_comma.png" /></td>
                        <td width="92%">
                        <p id="about_desc">{{ paggedata }}</p>
                        </td>
                        </tr>
                        </table>
                        </div>
                        </div>
                        </div>
                    </div>
            </div>
        </div>
      </div>
    </div>
  

