
    <div class="l_mid_without_map">
      <div class="c_wrap">
        <div class="l_main_wd_add_main">
			<div class="c_add_wishdom">
            	<h1>Email Share</h1>
				<form method="POST" action="">
					{{ error_message }}
					<div class="c_contact_form">
						
							<div class="c_form_grd mrgn_t10">
								<input type="text" name="to" required="required" placeholder="TO" class="u_sing_fill">
							</div>
							
							<div class="c_form_grd mrgn_t10">
								<textarea readonly="" name="message" rows="3" class="u_textarea">
								
								Wisdom Url : http://ombeliko.com/wisdom/detail/{{ uid }}
								</textarea>
							</div>
							<div class="c_form_grd mrgn_t10"><input type="submit" name="sendemail" value="Send Email" class="u_send_btn"></div>
						
					</div>
				</form>
            </div>
        </div>
      </div>
    </div>

