
    <div class="l_mid_without_map">
      <div class="c_wrap">
        <div class="l_main_tb">
        	<div class="l_term_main">
                <div class="c_add_wishdom">
                    <h1 id="lang_terms">{{ con_TermsofUse }}</h1>
			<input type="hidden" id="webpage" value="{{ webpage }}" />
                    <!--<h4 class="mrgn_t20"><b style="font-family: 'open_sanslight';font-size: 30px;padding-bottom: 0;width: 100%;'">Terms and Conditions of Use</b></h4>-->
                    <div class="c_term_cont mrgn_t20">
                        <p style="text-align:justify;" id="lang_terms_description">{{ paggedata }} </p>
                        
                    </div>
                    
                    <h1 id="lang_terms">{{ con_PrivacyPolicy }}</h1>
                    <!--<h4 class="mrgn_t20"><b style="font-family: 'open_sanslight';font-size: 30px;padding-bottom: 0;width: 100%;'">Terms and Conditions of Use</b></h4>-->
                    <div class="c_term_cont mrgn_t20">
                        <p style="text-align:justify;">{{ page_content_privacy }}</p>
                        
                    </div>
                </div>
            </div>
            <div class="l_view_more" style="display:none;">
            	<div class="l_view_more_abs">
              		<div class="c_down_btn"><a href="#"><img src="{{ uri }}assets/images/more_icon.png"></a></div>
              		<div class="c_up_btn"><a href="#"><img src="{{ uri }}assets/images/up_arrow.png"></a></div>
              	</div>
            </div>
        </div>
      </div>
    </div>
  
