<div class="span9" id="content">	
    <div class="row-fluid">
        <!-- block -->
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">CMS Pages</div>
            </div>
            <div class="block-content collapse in">
                <div class="span12">
                    <div id="rootwizard">
                        <div class="navbar">
                            <div class="navbar-inner">
                                <div class="container">
                                    <ul>
<!--                                        <li><a href="#landing" id="landing" data-toggle="tab">landing</a></li>-->
                                        <li id="li_Privacy" class="{{ cms_privacy }}"><a href="#Privacy_content" id="Privacy" data-toggle="tab">Privacy policy</a></li>
                                        <li id="li_Terms" class="{{ cms_terms }}" ><a href="#Terms_content" id="Terms" data-toggle="tab">Terms and conditions</a></li>
                                        <li id="li_Aboutus" class="{{ cms_about }}"><a class="" href="#Aboutus" id="Terms" data-toggle="tab">About us</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                         <input type="hidden" id="uri" value="{{ uri }}"/>
                        <!--<div id="bar" class="progress progress-striped active">
                          <div class="bar"></div>
                        </div>-->
                        <div class="tab-content" id="tab-content">
                           
                            <div class="tab-pane {{ cms_privacy }}"  id="Privacy_content" >
                                <form class="form-horizontal" action="" method="POST">
                                    <fieldset>
                                        <div class="control-group">
                                          <label class="control-label" for="Select">Language</label>
                                          <div class="controls">
                                              {{ languagetable }}				 
                                          </div>

                                        </div>
                                        
                                        <input type="hidden" name="cms_privacy" id="keywordprivacy" value="cms_privacy">
                                        <input type="hidden" name="cmsid" id="keywordid" value="{{ privacyid }}">
                                       
                                        <div class="control-group">
                                            <label class="control-label" for="typedis">Privacy policy</label>
                                            <div class="controls" id="text_privacy" >
                                                <textarea class="input-xlarge textarea"   required="required"  name="privacy_dis" placeholder="Enter text ..." style="width: 96%; height: 200px">{{ privacycontent }}</textarea>
                                            </div>
                                            <div class="form-actions">
                                                <button type="submit" class="btn btn-primary">Update Privacy</button>
                                                <a href="{{ uri }}admin/cms/" class="btn">Cancel</a>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                            <div class="tab-pane {{ cms_terms }}" id="Terms_content">
                                <form class="form-horizontal" action="" method="POST">
                                    <fieldset>
                                        <div class="control-group">
                                          <label class="control-label" for="Select">Language</label>
                                          <div class="controls">
                                              {{ languageterms }}				 
                                          </div>

                                        </div>
                                       
                                        <input type="hidden" name="cmsterms" id="keywordterms" value="cms_terms">
                                        <input type="hidden" name="cmsid" id="keywordid" value="{{ termsid }}">
                                       
                                        <div class="control-group">
                                            <label class="control-label" for="typedis">Terms of Use</label>
                                            <div class="controls">
                                                <textarea class="input-xlarge textarea" required="required"  name="terms_dis" placeholder="Enter text ..." style="width: 96%; height: 200px">{{ termscontent }}</textarea>
                                            </div>
                                            <div class="form-actions">
                                                <button type="submit" class="btn btn-primary">Update Terms</button>
                                                <a href="{{ uri }}admin/cms/" class="btn">Cancel</a>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                            
                            <div class="tab-pane {{ cms_about }}" id="Aboutus">
                                <form class="form-horizontal" action="" method="POST">
                                    <fieldset>
                                        <div class="control-group">
                                          <label class="control-label" for="Select">Language</label>
                                          <div class="controls">
                                              {{ languageTableabout }}				 
                                          </div>

                                        </div>
                                       
                                        <input type="hidden" name="cms_about" id="keywordabout" value="cms_about">
                                        <input type="hidden" name="cmsid" id="keywordid" value="{{ aboutid }}">
                                       
                                        <div class="control-group">
                                            <label class="control-label" for="typedis">About us</label>
                                            <div class="controls">
                                                <textarea class="input-xlarge textarea" required="required"  name="about_dis" placeholder="Enter text ..." style="width: 96%; height: 200px">{{ aboutkeywordcontent }}</textarea>
                                            </div>
                                            <div class="form-actions">
                                                <button type="submit" class="btn btn-primary">Update About us</button>
                                                <a href="{{ uri }}admin/cms/" class="btn">Cancel</a>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                            
                            
                            <!--<ul class="pager wizard">
                                <li class="previous first" style="display:none;"><a href="javascript:void(0);">First</a></li>
                                <li class="previous"><a href="javascript:void(0);">Previous</a></li>
                                <li class="next last" style="display:none;"><a href="javascript:void(0);">Last</a></li>
                                <li class="next"><a href="javascript:void(0);">Next</a></li>
                                <li class="next finish" style="display:none;"><a href="javascript:;">Finish</a></li>
                            </ul>-->
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
