<div class="span9" id="content">	
    <div class="row-fluid">
        <!-- block -->
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">Edit Maintenance</div>
            </div>
            <div class="block-content collapse in">
                
                <div class="span12">
                  <span style="color:red; float: right;">{{ error_msg }} {{ msg }}</span>
                    <form class="form-horizontal" method="POST" action="{{ uri }}admin/maintenance/EditMaintenance/{{ uid }}" id="maintenanceadd" enctype="multipart/form-data">
                        
                            <input type="hidden" name="edit_id" value="{{ uid }}"/>
                        <div class="control-group">
                            <label class="control-label" for="typeahead">Add Photo: </label>
                            <div class="controls">
                                <input class="input-file uniform_on" type="file" class="span6" name="photo" />
                                <input class="input-file uniform_on" name="nphoto" id="partnereditimg" type="hidden" value="{{ photo }}">
                            </div>
                            <div class="controls">
                                <a href="#"  data-toggle="modal" data-target="#myModal3" style="" >
                                    <img src="{{ image }}" width="50"/>
                                </a>{{ imgdownload }}
                                <div class="myModal3 modal fade in" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="position: absolute;width: auto; left: 40%;display: none;top:16px;">
                                    <a href="#" class="model_link" data-dismiss="modal"></a>
                                    <img src="{{ image }}" class="model_img"/> 

                                </div>

                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="typeahead">Add Plan: </label>
                            <div class="controls">
                                <input class="input-file uniform_on" type="file" class="span6" name="plan_img" />
                                <input class="input-file uniform_on" name="nplan_img" id="partnereditimg" type="hidden" value="{{ planimg }}">
                            </div>
                            <div class="controls">
                               <a href="#"  data-toggle="modal" data-target="#myModal2" style="" >
                                    <img src="{{ Image }}" width="50"/>
                                </a>
                                 {{ plandownload }}
                                <div class="modal fade in" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="position: absolute;width: auto; left: 40%;display: none;top:16px;">
                                    <a href="#" class="model_link"  data-dismiss="modal"></a>
                                    <img src="{{ Image }}" class="model_img"/> 
                                </div>
                            </div>
                        </div>

                            <div class="control-group">
                                <label class="control-label" for="typeahead">Building: </label>
                                <div class="controls">
                                    <input type="textbox" class="span6" name="building" id="building" value="{{ building }}" />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="typeahead">Item Type: </label>
                                <div class="controls">
                                     <select name="itemtype" class="span6">
                                         <option value="Select Item Type">Select Item Type</option>
                                         <option value="Structural"{{ Structural }}>Structural</option>
                                         <option value="Mechanical"{{ Mechanica l }}>Mechanical</option>
                                         <option value="Electrical"{{ Electrical }}>Electrical</option>
                                         <option value="Architectural"{{ Architectural }}>Architectural</option>
                                         <option value="Site/Civil"{{ SiteCivil }}>Site/Civil</option>
                                      </select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="typeahead">Install Date: </label>
                                <div class="controls">
                                    <input type="text" class="span6" name="install_date"  value="{{ installdate }}" />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="typeahead">Condition:</label>
                                <div class="controls">
                                    <!--<input type="dropdownbox" class="span6" name="condition" id="condition" value="{{  }}">-->
                                    <select name="condition" class="span6">
                                        <option value="Select Condition">Select Condition</option>
                                        <option value="End of Life"{{ EndofLife }}>End of Life</option>
                                        <option value="Satisfactory"{{ Satisfactory }}>Satisfactory</option>
                                        <option value="Good"{{ Good }}>Good</option>
                                        <option value="New"{{ New }}>New</option>
                                    </select>
                                </div>
                            </div>
                             <div class="control-group">
                                <label class="control-label" for="typeahead">Remaining Usefull Life:</label>
                                <div class="controls">
                                    <input type="textbox" class="span6" name="usefull_life" id="" value="{{ usefulllife }}">
                                </div>
                            </div>
                             <div class="control-group">
                                <label class="control-label" for="typeahead">Health & Safety:</label>
                                <div class="controls">
                                    <input type="textbox" class="span6" name="health_safety" id="" value="{{ healthsafety }}">
                                </div>
                            </div>
                             <div class="control-group">
                                <label class="control-label" for="typeahead">BCS Section:</label>
                                <div class="controls">
                                    <input type="textbtox" class="span6" name="bcs_section" id="" value="{{ bcssection }}">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="typeahead">Make:</label>
                                <div class="controls">
                                    <input type="textbox" class="span6" name="make" id="" value="{{ make }}">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="typeahead">Model:</label>
                                <div class="controls">
                                    <input type="textbox" class="span6" name="model" id="" value="{{ model }}">
                                </div>
                            </div>
                             <div class="control-group">
                                <label class="control-label" for="typeahead">Units:</label>
                                <div class="controls">
                                    <input type="textbox" class="span6" name="units" id="" value="{{ units }}">
                                </div>
                            </div>
                             <div class="control-group">
                                <label class="control-label" for="typeahead">Quantity:</label>
                                <div class="controls">
                                    <input type="textbox" class="span6" name="quantity" id="" value="{{ quantity }}">
                                </div>
                            </div>
                             <div class="control-group">
                                <label class="control-label" for="typeahead">CPU:</label>
                                <div class="controls">
                                    <input type="textbox" class="span6" name="cpu" id="" value="{{ cpu }}">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="typeahead">EST.Replacement:</label>
                                <div class="controls">
                                    <input type="textbox" class="span6" name="estreplace"  value="{{ estreplace }}">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="typeahead">URL:</label>
                                <div class="controls">
                                    <input type="textbox" class="span6" name="url" value="{{ url }}">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="typeahead">Comments:</label>
                                <div class="controls">
                                  <textarea name="comments" placeholder="Add Comments" cols="20" rows="5" class="span6">{{ comments }}</textarea>
                                </div>        
                            </div>
                            <div class="form-actions">
                               {{ submitButton }}
                                <!--<button type="submit" name="update" class="btn btn-primary" id="">Update</button>-->
                                <a href="{{ uri }}admin/maintenance/maintenancelist" class="btn btn-primary">Cancel</a>                                         
                            </div>
                     </form>
                                                     
                </div>
             </div>
          </div>
        </div>
        <!-- /block -->
</div>
<style>
    .model_link{
        float: left;
        position: absolute;
        background-image: url('../../../assets/images/fancy_close.png');
        width: 26px;
        height: 29px;
        margin-left: -4px;
        margin-top: -17px;
    }
    .model_img{
        float: left;
        position: relative;
        width:500px;
    }
</style>    
