    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ meta_title }}</title>
    <!-- Bootstrap -->
    <link href="{{ uri }}assets/css/admin/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{ uri }}assets/css/admin/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <link href="{{ uri }}assets/css/admin/styles.css" rel="stylesheet" media="screen">
     <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>-->
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <!--<![endif]-->
    <script src="{{ uri }}assets/js/admin/modernizr-2.6.2-respond-1.1.0.min.js"></script>
  </head>
    
                <div class="span9" id="content">
                  
                    <div class="row-fluid">
                        <!--<div class="span6">-->
                            <!-- block -->
                            <div class="block">
                                <div class="navbar navbar-inner block-header">
                                    <div class="muted pull-left">Home</div>                                   
                                </div>
                                <div class="block-content collapse in" align="left">
                                    <div class="span12">
                                         Welcome
                                    </div>
                                </div>
                                    <span style="color:red;">  {{ error }}</span>   
                    </div> <!-- /container -->
                    <script src="{{ uri }}assets/js/admin/jquery-1.9.1.min.js"></script>
                    <script src="{{ uri }}assets/js/admin/bootstrap.min.js"></script>
                </body>
                        </div>
                        </div>                          
                    </div>
             
                            <div class="block-content collapse in">
                                <div class="row-fluid padd-bottom">
                                    
                                 
                                </div>
                             </div>
                        </div>
                </div>
                
                <link href="{{ uri }}assets/css/admin/datepicker.css" rel="stylesheet" media="screen">
        <link href="{{ uri }}assets/css/admin/uniform.default.css" rel="stylesheet" media="screen">
        <link href="{{ uri }}assets/css/admin/chosen.min.css" rel="stylesheet" media="screen">
		
		<link href="{{ uri }}assets/css/admin/bootstrap-wysihtml5.css" rel="stylesheet" media="screen">
		
        <script src="{{ uri }}assets/js/admin/jquery-1.9.1.min.js"></script>
        <script src="{{ uri }}assets/js/admin/bootstrap.min.js"></script>
		
		<script src="{{ uri }}assets/js/admin/jquery.dataTables.min.js"></script>
		<script src="{{ uri }}assets/js/admin/wysihtml5-0.3.0.js"></script>
        <script src="{{ uri }}assets/js/admin/bootstrap-wysihtml5.js"></script>
		<script src="{{ uri }}assets/js/admin/jquery.uniform.min.js"></script>
        <script src="{{ uri }}assets/js/admin/chosen.jquery.min.js"></script>
        <script src="{{ uri }}assets/js/admin/bootstrap-datepicker.js"></script>
		<script src="{{ uri }}assets/js/admin/jquery.bootstrap.wizard.min.js"></script>
		<script src="{{ uri }}assets/js/admin/jquery.validate.min.js" type="text/javascript" ></script>
        <script src="{{ uri }}assets/js/admin/form-validation.js"></script>
		<script src="{{ uri }}assets/js/admin/DT_bootstrap.js"></script>
		<script src="{{ uri }}assets/js/admin/scripts.js"></script>
		
			
        <script>
			 $(function() {
				 $('.textarea').wysihtml5();
				 $(".datepicker").datepicker();
				$(".uniform_on").uniform();
				$(".chzn-select").chosen();
				$('#rootwizard').bootstrapWizard({onTabShow: function(tab, navigation, index) {
                var $total = navigation.find('li').length;
                var $current = index+1;
                var $percent = ($current/$total) * 100;
                $('#rootwizard').find('.bar').css({width:$percent+'%'});
                // If it's the last tab then hide the last button and show the finish instead
                if($current >= $total) {
                    $('#rootwizard').find('.pager .next').hide();
                    $('#rootwizard').find('.pager .finish').show();
                    $('#rootwizard').find('.pager .finish').removeClass('disabled');
                } else {
                    $('#rootwizard').find('.pager .next').show();
                    $('#rootwizard').find('.pager .finish').hide();
                }
            }});
            $('#rootwizard .finish').click(function() {
                alert('Finished!, Starting over!');
                $('#rootwizard').find("a[href*='tab1']").trigger('click');
            });
	
		
	});
        </script>