<!DOCTYPE html>
<html class="no-js">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ meta_title }}</title>
        <!-- Bootstrap -->
        <link href="{{ uris }}assets/css/admin/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="{{ uris }}assets/css/admin/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
        <link href="{{ uris }}assets/css/admin/styles.css" rel="stylesheet" media="screen">
        <link href="{{ uris }}assets/css/admin/DT_bootstrap.css" rel="stylesheet" media="screen">
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
<!--        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
-->        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>	
        <!--<script src="{{ uri }}assets/js/admin/modernizr-2.6.2-respond-1.1.0.min.js"></script>-->
        {{ script }}
    </head>

    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="{{ homeUrl }}" ><img src="{{ uris }}CPLFullLogo.png" style="float: left;height: 50px;"/></a>
                    <div class="nav-collapse collapse">
                        <ul class="nav pull-right">
                            <li class="dropdown">
                                <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-user"></i> Administrator <i class="caret"></i>

                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a tabindex="-1" href="{{ uri }}admin/changepassword/">Change password</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a tabindex="-1" href="{{ uri }}admin/signout/">Logout</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>

                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <div class="container-fluid" style="padding-top: 10px;">
            <div class="row-fluid">
                <div class="span3" id="sidebar">
                    <ul class="nav nav-list bs-docs-sidenav nav-collapse collapse">
                       <!-- <li {{ dashboard }}>
                            <a href="{{ uri }}admin/register/userdetail/"><i class="icon-chevron-right"></i> Users</a>
                        </li>
                        <li {{ School District }}>
                            <a href="{{ uri }}admin/area/view/"><i class="icon-chevron-right"></i>School District</a>
                        </li>-->{{ menu }}
                        <li {{ surveylist }}>
                            <a href="{{ uri }}admin/buildingsurvey/surveylist/"><i class="icon-chevron-right"></i>Survey List</a>
                        </li>
                        <li {{ maintenancelist }}>
                            <a href="{{ uri }}admin/maintenance/maintenancelist/"><i class="icon-chevron-right"></i>Maintenance List</a>
                        </li>
                       <!--  <li {{ language }}>
                            <a href="{{ uri }}admin/language/"><i class="icon-chevron-right"></i> Language</a>
                        </li>
                        <li {{ content }}>
                            <a href="{{ uri }}admin/languagecontent/"><i class="icon-chevron-right"></i> Language Content</a>
                        </li>
                         <li {{ wisdomtag }}>
                            <a href="{{ uri }}admin/wisdomtag/"><i class="icon-chevron-right"></i>Wisdoms Tag</a>
                        </li>
                        <li {{ cms }}>
                            <a href="{{ uri }}admin/cms/"><i class="icon-chevron-right"></i> CMS</a>
                        </li>-->


                        <!-- <li>
                             <a href="#"><span class="badge badge-success pull-right">{{ wisdomCount }}</span> Wisdoms</a>
                         </li>
                         <li>
                             <a href="#"><span class="badge badge-success pull-right">{{ usersCount }}</span> Users</a>
                         </li>
                         <li>
                             <a href="#"><span class="badge badge-info pull-right">{{ commentsCount }}</span> Comments</a>
                         </li>
                     </ul>-->
                </div>

                {{ body }}

            </div>
            <hr>
            <!--<footer style="text-align: center;">
                <p>2015 &copy; Ombeliko.com</p>
            </footer>
        </div>
            <!--/.fluid-container-->
            <link href="{{ uris }}assets/css/admin/datepicker.css" rel="stylesheet" media="screen">
            <link href="{{ uris }}assets/css/admin/uniform.default.css" rel="stylesheet" media="screen">
            <link href="{{ uris }}assets/css/admin/chosen.min.css" rel="stylesheet" media="screen">

            <!--<link href="{{ uri }}assets/css/admin/bootstrap-wysihtml5.css" rel="stylesheet" media="screen">-->

            <script src="{{ uris }}assets/js/admin/jquery-1.9.1.min.js"></script>
            <script src="{{ uris }}assets/js/admin/bootstrap.min.js"></script>

            <script src="{{ uris }}assets/js/admin/jquery.dataTables.min.js"></script>
            <script src="{{ uris }}assets/js/admin/wysihtml5-0.3.0.js"></script>
            <script src="{{ uris }}assets/js/admin/bootstrap-wysihtml5.js"></script>
            <script src="{{ uris }}assets/js/admin/jquery.uniform.min.js"></script>
            <script src="{{ uris }}assets/js/admin/chosen.jquery.min.js"></script>
            <script src="{{ uris }}assets/js/admin/bootstrap-datepicker.js"></script>
            <script src="{{ uris }}assets/js/admin/jquery.bootstrap.wizard.min.js"></script>
            <script src="{{ uris }}assets/js/admin/jquery.validate.min.js" type="text/javascript" ></script>
            <script src="{{ uris }}assets/js/admin/form-validation.js"></script>
            <script src="{{ uris }}assets/js/admin/DT_bootstrap.js"></script>
            <script src="{{ uris }}assets/js/admin/scripts.js"></script>
 
            <script>
            

$(function() {

   $('.textarea').wysihtml5();
  
    $(".uniform_on").uniform();
    $(".chzn-select").chosen();
//    $('#rootwizard').bootstrapWizard({onTabShow: function(tab, navigation, index) {
//            var $total = navigation.find('li').length;
//            var $current = index + 1;
//            var $percent = ($current / $total) * 100;
//            $('#rootwizard').find('.bar').css({width: $percent + '%'});
//            // If it's the last tab then hide the last button and show the finish instead
//            if ($current >= $total) {
//                $('#rootwizard').find('.pager .next').hide();
//                $('#rootwizard').find('.pager .finish').show();
//                $('#rootwizard').find('.pager .finish').removeClass('disabled');
//            } else {
//                $('#rootwizard').find('.pager .next').show();
//                $('#rootwizard').find('.pager .finish').hide();
//            }
//        }});
//    $('#rootwizard .finish').click(function() {
//        alert('Finished!, Starting over!');
//        $('#rootwizard').find("a[href*='tab1']").trigger('click');
//    });

});
            </script>
               {{ scriptlist }}
    </body>

</html>
