	<div class="span9" id="content">	
		<div class="row-fluid">
				<!-- block -->
                        <div class="block">
                            <div class="navbar navbar-inner block-header">
                                <div class="muted pull-left">Language Content for every page</div>
                            </div>
                            <div class="block-content collapse in">
                                <div class="span12">
                                    <div id="rootwizard">
                                        <div class="table-toolbar">
											<!--<div class="btn-group">
											   <a href="{{ uri }}admin/languagecontent/create/"><button class="btn btn-success">Add New language content   <i class="icon-plus icon-white"></i></button></a>
											</div>
										</div>-->
                                        <div class="tab-content">
											
                                            <div  id="landing">
                                              <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">
												<thead>
													<tr>
														<th>Keyword</th>
														<th>Action</th>
													</tr>
												</thead>
												<tbody>

													{{ languagecontent }}

												</tbody>
											  </table>
                                            </div>
                                            
                                        </div>  
                                    </div>
                                </div>
                            </div>
						</div>
                 </div>
	</div>
