<div class="span9" id="content">	
	<div class="row-fluid">
                        <!-- block -->
                        <div class="block">
                            <div class="navbar navbar-inner block-header">
                                <div class="muted pull-left">Add language content</div>
                            </div>
                            <div class="block-content collapse in">
                                <div class="span12">
                                    <form class="form-horizontal" method="post" action="" enctype="multipart/form-data">
                                      <fieldset>
                                        
                                        <div class="control-group">
                                          <label class="control-label" for="Select">Language</label>
                                          <div class="controls">
                                              {{ languagedroupdown }}				 
                                          </div>

                                        </div>
                                          <div class="control-group">
                                          <label class="control-label" for="Select">Language Keyword</label>
                                          <div class="controls">
                                              {{ languagedkeyword }}				 
                                          </div>

                                        </div>
                                         <!-- <div class="control-group">
                                          <label class="control-label" for="typeahead">Language keyword </label>
                                          <div class="controls">
											  <input type="text" class="span6" name="" id="languagekeyword">
                                          </div>
                                        </div>-->
                                          <div class="control-group">
                                          <label class="control-label" for="typeahead">Language Value </label>
                                          <div class="controls">
											  <input type="text" class="span6" name="name" id="name">
                                          </div>
                                        </div>
                                          
                                        
                                        <div class="form-actions">
                                          <button type="submit" class="btn btn-primary">Add Language content</button>
                                          <a href="{{ uri }}admin/languagecontent/" class="btn">Cancel</a>
                                        </div>
                                      </fieldset>
                                    </form>

                                </div>
                            </div>
                        </div>
                        <!-- /block -->
                    </div>
</div>
