<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ meta_title }}</title>
    <!-- Bootstrap -->
    <link href="{{ uris }}assets/css/admin/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{ uris }}assets/css/admin/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <link href="{{ uris }}assets/css/admin/styles.css" rel="stylesheet" media="screen">
     <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>-->
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <!--<![endif]-->
    <script src="{{ uris }}assets/js/admin/modernizr-2.6.2-respond-1.1.0.min.js"></script>
  </head>
  <body id="login">
    <div class="container">
		
		<form class="form-signin" autocomplete="off" action="" method="POST">
         <img src="{{ uris }}CPLFullLogo.png" />
        <h2 class="form-signin-heading">Please sign in</h2>
		{{ error_message }}
        <input type="email" name="email" value="{{ email }}" class="input-block-level" placeholder="Email" required="required">
		<input type="password" name="password" value="{{ password }}" class="input-block-level" placeholder="Password" required="required">
        <label class="checkbox">
			<input type="checkbox" name="remember" value="remember-me"  {{ remember }}> Remember me
        </label>
				<button class="btn btn-large btn-block btn-primary" name="signin" type="submit">Sign in</button>
      </form>

    </div> <!-- /container -->
    <script src="{{ uris }}assets/js/admin/jquery-1.9.1.min.js"></script>
    <script src="{{ uris }}assets/js/admin/bootstrap.min.js"></script>
  </body>
</html>
