<div class="span9" id="content">	
	<div class="row-fluid">
                        <!-- block -->
                        <div class="block">
                            <div class="navbar navbar-inner block-header">
                                <div class="muted pull-left">Add Partner</div>
                            </div>
                            <div class="block-content collapse in">
                                <div class="span12">
                                    <form class="form-horizontal" method="post" action="" enctype="multipart/form-data">
                                      <fieldset>
                                        
                                        <div class="control-group">
                                          <label class="control-label" for="typeahead">Partner Name </label>
                                          <div class="controls">
											  <input type="text" class="span6" name="name" id="name" required="required">
                                          </div>
                                        </div>
										<div class="control-group">
                                          <label class="control-label" for="typedis">Partner Description</label>
                                         <div class="controls">
											 <textarea class="input-xlarge textarea" required="required"  name="partner_dis" placeholder="Enter text ..." style="width: 96%; height: 200px"></textarea>
                                          </div>
                                        </div>
                                        <div class="control-group">
                                          <label class="control-label" for="fileInput">Partner Image</label>
                                          <div class="controls">
											  <input required="required" class="input-file uniform_on" name="partner_image" id="fileInput" type="file"> *Image size must be 187 X 187 
                                          </div>
                                        </div>
										<div class="control-group">
                                          <label class="control-label" for="typeahead">Partner URL </label>
                                          <div class="controls">
											  <input type="text" class="span6" name="partner_url" id="typeahead" required="required">
                                          </div>
                                        </div>
                                        <div class="control-group">
                                          <label class="control-label" for="Select">Status</label>
                                          <div class="controls">
											  <select id="statusselect" name="status" class="">
												<option value="1">Active</option><option value="0">In Active</option>
                                            </select>
                                          </div>

                                        </div>
                                        <div class="form-actions">
                                          <button type="submit" class="btn btn-primary">Add Partner</button>
                                          <a href="{{ uri }}admin/partner/" class="btn">Cancel</a>
                                        </div>
                                      </fieldset>
                                    </form>

                                </div>
                            </div>
                        </div>
                        <!-- /block -->
                    </div>
</div>
