<div class="span9" id="content">	
    <div class="row-fluid">
        <!-- block -->
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">{{ successmsg }}</div>
                <div class="pull-right"><span class="badge badge-info"></span>

                </div>
            </div>           
        </div>
        <!-- /block -->
    </div>
</div>
