<div class="span9" id="content">	
	<div class="row-fluid">
                        <!-- block -->
                        <div class="block">
                            <div class="navbar navbar-inner block-header">
                                <div class="muted pull-left">Users Data</div>
								<div class="pull-right"><span class="badge badge-info">{{ usersCount }}</span>

                                    </div>
                            </div>
                            <div class="block-content collapse in">
                                <div class="span12">
                                    <div class="table-toolbar">
										<div class="btn-group">
										   <a href="{{ uri }}admin/user/create/"><button class="btn btn-success">Add New User   <i class="icon-plus icon-white"></i></button></a>
										</div>
									  </div>
  									<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">
										<thead>
											<tr>
												<th>Name</th>
												<th>Email</th>
												<th>Country</th>
												<th>Image</th>
												<th>Social login</th>
												<th>Action</th>
											</tr>
										</thead>
										<tbody>
											
											{{ userTableData }}
											
										</tbody>
									</table>
                                </div>
                            </div>
                        </div>
                        <!-- /block -->
                    </div>
</div>
