<div class="span9" id="content">	
    <div class="row-fluid">
        <!-- block -->
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">Maintenance List</div>
               </div>
            <div class="block-content collapse in">
                <div class="span12">
                    <div class="table-toolbar">
                     <span style="color:red; float: right;">{{ error_msg }} {{ msg }} {{ editsuccess }}</span>
                    </div>
                    <form method="post" enctype="multipart/form-data">
                    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">
                        <thead>
                            <tr>
                                 <th>Name</th>
                                 <th>Survey Title</th>
                                 <th>Question</th>
                                 <th>Building</th>
                                 <th>Plan Image</th>
                                 <th>Last Updated By</th>
                                 <th>Last Updated Date</th>
                                 <th>Action</th>
                                
                            </tr>
                        </thead>
                        <tbody>

                            {{ userTableData }}

                        </tbody>
                    </table>
                    </form>
                </div>
            </div>
        </div>
        <!-- /block -->
    </div>
</div>
<!--<style>
    #example_filter
    {
        display: none;
    }
</style>-->
